/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#globalBody {
    /*if any margin is modified then header and footer may be modified too*/
    margin: 100px 0px 80px 0px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    /*this margin will depend on globalBody margins*/
    margin-top: -100px;
    height: 100px;
    width: 100%;
}

#mainContainer {
    min-height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    /*this margin will depend on globalBody margins*/
    margin-bottom: -60px;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.page-content-area {
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d6dfe6;
    margin: 10px;
    min-height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.icon-sprite {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 1;
    overflow: hidden;
    direction: ltr;
    text-align: center;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.icon-sprite:before {
    display: inline-block;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.icon-sprite:before {
    content: url("images/small-icons_454545_256x240.png");
}

.oj-enabled .icon-sprite:before {
    content: url("images/small-icons_454545_256x240.png");
}

.oj-hover .icon-sprite:before {
    content: url("images/small-icons_0572ce_256x240.png");
}

.oj-active .icon-sprite:before {
    content: url("images/small-icons_ffffff_256x240.png");
}

/* positioning */
.icon-compass:before {
    margin: -32px 0 0 0; 
}

.icon-search:before {
    margin: -32px 0 0 -16px;
}

.image {
    padding: 10px 10px 10px 0px; 
    width:auto;
}

.centered {
    text-align:center;
}

.home-even {
    margin: 20px;
    padding: 20px;
}

.home-odd {
    background:#E8E8E8;
    margin: 20px;
    padding: 20px;
    box-shadow: inset 100px 0px 100px -50px #F8F8F8 , 
        inset -100px 0px 100px -50px #F8F8F8 ;
}

.home-description-title {
    font-size: 2em;
    padding-top: 20px;
}

.home-description-text, .home-contact-descritpion {
    text-align: justify;
    line-height: 1.8;
    padding: 10px 20px 0px 0px;
    font-size: 1.2em;

}

.home-description-image {
    padding: 30px 10px 10px 0px; 
    width:100%; 
    max-width: 100%; 
    max-height: 100%
}

.home-demo-title {
    font-size: 2em;
    padding-top: 20px;
    text-align:center;
}

.home-demo-video {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 400px;
    border: 0px;
}

.home-memberships-title, .home-crew-title {
    font-size: 2em;
    padding-top: 20px;
    text-align:center;
    margin-bottom: 40px;
}

.home-memberships-table, .home-crew-table {
    width:80%; 
    margin-left: 10%; 
    margin-right: 10%; 
}

.home-contact-title {
    font-size: 2em;
    padding-top: 20px;
}

.home-contact-map {
    width:auto;
    height:400px;
}

.title {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}