/* 
    Document   : override
    Created on : 25/08/2016
    Author     : alonsocucei
    Description:
        This is where any of your application specific styles should be included
*/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-title {
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

.section-title {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    height: 5%;
}

.component-title {
    font-size: larger;
    font-weight: bolder;
}

.title {
    font-weight: bold;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

.container.column {
    flex-direction: column;
}

.item-stretch {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.centered {
    text-align: center;
}

.form-container {
    padding: 5px;
}

.collapsible-content {
    background-color: #fafafa;
}

.pointer {
    cursor: pointer;
}

.scrolly {
    min-height: 0px;
    overflow-y: auto;
}

.icon-padding {
    padding: 5px;
}

.section-padding {
    padding: 15px;
}

.component-padding {
    padding: 15px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.save-dialog-success {
    border-color: green;
    border-width: 5px;
}

.save-dialog-error {
    border-color: red;
    border-width: 5px;
}

.no-padding {
    padding: 0;
}

.button-color {
    background-color: #e4e8ea;
    color: black;
}

.button-color:hover {
    background-color: #f7f8f9;
    color: #0572ce;
}

.oj-tree-node {
    text-indent: -2em;
    padding-left: 2em;
}

.oj-tree-title {
    color: black;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

.oj-tree-list a {
    white-space: initial;
    display: initial;
}

.graphic {
    padding: 0px;
}

.error-message {
    color: black;
    font-weight: bold;
}

.error-title {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    color: red;
}

.lightred {
    color: rgb(255, 128, 128);
}

.gray {
    color: gray;
}

.edit-on {
    border-width: 3px;
    animation-name: border-blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes border-blink {
    from {border-color: lightgreen}
    to {border-color: white}
}

.display-none {
    display: none;
}

.table-div {
    margin: 10px;
    width: 100%;
}

.table-div .header-cell-div {
    background-color: #f1f3f7;
    padding: 10px;
    border: 1px solid #d6dfe6;
}

.table-div .body-cell-div {
    width: 100%;
}

.circle {
    border-radius: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #404049;
    color: white;
}

.login  .title {
    text-align: center;
    font-size: 5em;
}

.login  a, .login a:visited, .login a:hover {
    color: white;
    cursor: pointer;
}

.black-link, .black-link:visited, .black-link:hover {
    color: black;
    cursor: pointer;
}