/* 
    Document   : override
    Created on : 25/08/2016
    Author     : alonsocucei
    Description:
        This is where any of your application specific styles should be included
*/

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#globalBody {
    /*if any margin is modified then header and footer may be modified too*/
    margin: 80px 0px 60px 0px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    /*this margin will depend on globalBody margins*/
    margin-top: -80px;
    height: 80px;
    width: 100%;
    position: fixed;
}

#mainContainer {
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    /*this margin will depend on globalBody margins*/
    margin-bottom: -60px;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.app-title {
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

.section-title {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    height: 5%;
}

.component-title {
    font-size: larger;
    font-weight: bolder;
}

.title {
    font-weight: bold;
}

.full-max-width {
    max-width: 100%;
}

.full-width {
    min-width: 95%;
    max-width: 100%;
    width: 100%;
}

.full-height {
    min-height: 95%;
    max-height: 99%;
    height: 99%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.centered {
    text-align: center;
}

.form-container {
    padding: 5px;
}

.collapsible-content {
    background-color: #fafafa;
}

.pointer {
    cursor: pointer;
}

.scrolly {
    min-height: 0px;
    overflow-y: auto;
}

.icon-padding {
    padding: 5px;
}

.section-padding {
    padding: 15px;
}

.component-padding {
    padding: 15px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.save-dialog-success {
    border-color: green;
    border-width: 5px;
}

.save-dialog-error {
    border-color: red;
    border-width: 5px;
}

.no-padding {
    padding: 0;
}

.button-color {
    background-color: #e4e8ea;
    color: black;
}

.button-color:hover {
    background-color: #f7f8f9;
    color: #0572ce;
}

.tree-panel {
    border:1px #b0b0b0 solid; 
}

.oj-tree-title {
    color: black;
}

.graphic {
    margin: 5px;
}