<div class="full-height full-width">

    <!-- Form actions -->
    <div class="oj-flex-bar">
        <div class="oj-flex-bar-end">
            <div class="oj-sm-align-self-center">
                <!-- Save icon -->
                <i class="fa fa-save fa-lg fa-border pointer"></i>

                <!-- Erase icon -->
                <i class="fa fa-eraser fa-lg fa-border pointer"></i>

                <!-- Table icon -->
                <i class="fa fa-table fa-lg fa-border pointer"></i>
            </div>
        </div>
    </div>

    <!-- Main section -->
    <div class="oj-margin-start">
        <div class="oj-flex">
            <!-- Type option -->
            <div class="oj-flex-item oj-sm-justify-content-center">
                <div class="oj-form">
                    <!-- Label -->
                    <label id="si-type-option" data-bind="text: typeLabel"></label>

                    <!-- Radio Set -->
                    <div id="si-type-radioset" aria-labelledby='si-type-option' data-bind="ojComponent: {
                        component: 'ojRadioset',
                        value: typeValue
                    }">
                        <!-- PIDE item -->
                        <span class="oj-choice-item">
                            <input type="radio" id="si-pide-radio" name="si-type-radio" value="PIDE">
                            <label for="si-pide-radio">PIDE</label>
                        </span>

                        <!-- MECASUT item -->
                        <span class="oj-choice-item">
                            <input type="radio" id="si-mecasut-radio" name="si-type-radio" value="MECASUT">
                            <label for="si-mecasut-radio">MECASUT</label>
                        </span>

                        <!-- PE item -->
                        <span class="oj-choice-item">
                            <input type="radio" id="si-pe-radio" name="si-type-radio" value="Programa Educativo">
                            <label for="si-pe-radio">Programa Educativo</label>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Active option -->
            <div class="oj-flex-item oj-sm-align-self-center">
                <div class='oj-form oj-md-labels-inline'>
                    <div class="oj-flex">
                        <!-- Label -->
                        <div class='oj-flex-item'>
                            <label for="si-active-option" data-bind="text: activeLabel"></label>
                        </div>

                        <!-- Switch -->
                        <div class='oj-flex-item'>
                            <input id="si-active-option" data-bind="ojComponent: {
                                component: 'ojSwitch', 
                                value: activeValue
                            }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- General section -->
    <div id="general-section" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: true
    }">
        <!-- Collapsible title -->
        <h4 id="general-title" data-bind="text: generalTitle"></h4>

        <!-- Collapsible content -->
        <div class="oj-form-layout">
            <div class="oj-form">
                <!-- Update option -->
                <div class='oj-flex-bar'>
                    <!-- Label -->
                    <div class='oj-flex-bar-start'>
                        <label id="si-update-option" data-bind="text: updateLabel"></label>
                    </div>

                    <!-- Radio Set -->
                    <div class='oj-flex-bar-middle' style="margin-left: 12px;">
                        <div id="si-update-radioset" class="oj-choice-direction-row" aria-labelledby='si-update-option' data-bind="ojComponent: {
                            component: 'ojRadioset', 
                            required: true, 
                            value: updateValue
                        }">
                            <!-- Manual -->
                            <span class="oj-choice-item">
                                <input type="radio" id="si-manual-radio" name="si-update-radio" value="Manual">
                                <label for="si-manual-radio">Manual</label>
                            </span>

                            <!-- Auto -->
                            <span class="oj-choice-item">
                                <input type="radio" id="si-auto-radio" name="si-update-radio" value="Automático">
                                <label for="si-auto-radio">Automático</label>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Indicator name field -->
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <!-- Label -->
                        <label for="si-name-field" data-bind="text: nameLabel"></label>

                        <!-- Input text -->
                        <input id='si-name-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            placeholder: namePlaceholder,
                            required: true,
                            rootAttributes: {
                                'style': 'max-height: 100%; max-width: 100%;'
                            },
                            value: nameValue
                        }" />
                    </div>
                </div>

                <!-- Indicator description field -->
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <!-- Label -->
                        <label for="si-description-field" data-bind="text: descriptionLabel"></label>

                        <!-- Text Area -->
                        <textarea id="si-description-field" rows="3" data-bind="ojComponent: {
                            component: 'ojTextArea',
                            placeholder: descriptionPlaceholder,
                            rootAttributes: {
                                'style': 'max-height: 100%; max-width: 100%;'
                            },
                            value: descriptionValue
                        }"></textarea>
                    </div>
                </div>

                <div class="oj-flex">
                    <!-- Sense -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <!-- Label -->
                        <label for="si-sense-option" data-bind="text: senseLabel"></label>

                        <!-- Select -->
                        <select id='si-sense-option' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: senseOptions,
                            required: true, 
                            value: senseValue
                        }"></select>
                    </div>

                    <!-- Unit of measurement field -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <!-- Label -->
                        <label for="si-measure-field" data-bind="text: measureLabel"></label>

                        <!-- Input text -->
                        <input id="si-measure-field" data-bind="ojComponent: {
                            component: 'ojInputText',
                            placeholder: measurePlaceholder,
                            value: measureValue
                        }" />
                    </div>

                    <!-- Base year field -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <!-- Label -->
                        <label for="si-base-year-field" data-bind="text: baseYearLabel"></label>

                        <!-- Input text -->
                        <input id="si-base-year-field" data-bind="ojComponent: {
                            component: 'ojInputText',
                            placeholder: baseYearPlaceholder,
                            value: baseYearValue
                        }" />
                    </div>
                </div>

                <div class="oj-flex">
                    <!-- Periodicity option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <!-- Label -->
                        <label for="si-periodicity-option" data-bind="text: periodicityLabel"></label>

                        <!-- Select -->
                        <select id="si-periodicity-option" data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: periodicityOptions,
                            value: periodicityValue
                        }"></select>
                    </div>

                    <!-- Reboot option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="si-reboot-option" data-bind="text: rebootLabel"></label>
                        <select id="si-reboot-option" data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: rebootOptions,
                            required: true, 
                            value: rebootValue
                        }"></select>
                    </div>

                    <!-- Reboot dates option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item" data-bind="ifnot: rebootValue() == 'Continuo'">
                        <!-- Label -->
                        <label for="si-reboot-date-option-1" data-bind="text: rebootDateLabel"></label>

                        <!-- Input date 1 -->
                        <input id="si-reboot-date-option-1" data-bind="ojComponent: {
                            component: 'ojInputDate',
                            converter: dateConverter,
                            required: true,
                            value: rebootDateValue1
                        }">

                        <div data-bind="if: rebootValue() == 'Cuatrimestral'">
                            <!-- Input date 2 -->
                            <input id="si-reboot-date-option-2" data-bind="ojComponent: {
                                component: 'ojInputDate',
                                converter: dateConverter,
                                required: true,
                                value: rebootDateValue2
                            }">
                        </div>
                        
                        <div data-bind="if: rebootValue() == 'Cuatrimestral'">
                            <!-- Input date 3 -->
                            <input id="si-reboot-date-option-3" data-bind="ojComponent: {
                                component: 'ojInputDate',
                                converter: dateConverter,
                                required: true,
                                value: rebootDateValue3
                            }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Alignment section -->
    <div id="alignment-section" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
        <!-- Collapsible title -->
        <h4 id="alignment-title" data-bind="text: alignmentTitle"></h4>

        <!-- Collapsible content -->
        <div></div>
    </div>

    <!-- Responsible section -->
    <div id="responsible-section" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
        <!-- Collapsible title -->
        <h4 id="responsible-title" data-bind="text: responsibleTitle"></h4>

        <!-- Collapsible content -->
        <div class="oj-form-layout">
            <div class="oj-form">
                <!-- Secretary option -->
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <!-- Label -->
                        <label for="si-secretary-option" data-bind="text: secretaryLabel"></label>

                        <!-- Option -->
                        <select id="si-secretary-option" data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: secretaryOptions,
                            required: true,
                            rootAttributes: {
                                'style': 'max-height: 100%; max-width: 100%;'
                            },
                            value: secretaryValue
                        }"></select>
                    </div>
                </div>

                <!-- Address option -->
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <!-- Label -->
                        <label for="si-address-option" data-bind="text: addressLabel"></label>

                        <!-- Select -->
                        <select id="si-address-option" data-bind="ojComponent: {
                            component: 'ojSelect',
                            required: true,
                            rootAttributes: { 
                                'style': 'max-height: 100%; max-width: 100%;'
                            },
                            value: addressValue
                        }">
                            <option value="Dirección 1">Dirección 1</option>
                            <option value="Dirección 2">Dirección 2</option>
                        </select>
                    </div>
                </div>

                <!-- Department head -->
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <!-- Label -->
                        <label for="si-department-head-option" data-bind="text: departmentHeadLabel"></label>

                        <!-- Select -->
                        <select id="si-department-head-option" data-bind="ojComponent: {
                            component: 'ojSelect',
                            required: true,
                            rootAttributes: {
                                'style': 'max-height: 100%; max-width: 100%;'
                            },
                            value: departmentHeadValue
                        }">
                            <option value="Jefe de departamento">Jefe de departamento</option>
                        </select>
                    </div>
                </div>

                <!-- Responsible option -->
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <!-- Label -->
                        <label for="si-responsible-option" data-bind="text: responsibleLabel"></label>

                        <!-- Select -->
                        <select id="si-responsible-option" data-bind="ojComponent: {
                            component: 'ojSelect',
                            required: true,
                            rootAttributes: {
                                'style': 'max-height: 100%; max-width: 100%;'
                            },
                            value: responsibleValue
                        }">
                            <option value="Persona responsable de la información">
                                Persona responsable de la información
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Responsible charge field -->
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <!-- Label -->
                        <label for="si-responsible-charge-field" data-bind="text: responsibleChargeLabel"></label>

                        <!-- Input text -->
                        <input id="si-responsible-charge-field" data-bind="ojComponent: {
                            component: 'ojInputText',
                            placeholder: responsibleChargePlaceholder,
                            rootAttributes: {
                                'style': 'max-height: 100%; max-width: 100%;'
                            },
                            value: responsibleChargeValue
                        }">
                    </div>
                </div>

                <div class="oj-flex">
                <!-- Email field -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <!-- Label -->
                        <label for="si-email-field" data-bind="text: emailLabel"></label>

                        <!-- Input text -->
                        <input id="si-email-field" data-bind="ojComponent: {
                            component: 'ojInputText',
                            placeholder: emailPlaceholder,
                            value: emailValue
                        }">
                    </div>
                    
                    <!-- Phone field -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <!-- Label -->
                        <label for="si-phone-field" data-bind="text: phoneLabel"></label>

                        <!-- Input text -->
                        <input id="si-phone-field" data-bind="ojComponent: {
                            component: 'ojInputText',
                            placeholder: phonePlaceholder,
                            value: phoneValue
                        }">
                    </div>
                    
                    <!-- Extension field -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <!-- Label -->
                        <label for="si-extension-field" data-bind="text: extensionLabel"></label>

                        <!-- Input Text -->
                        <input id="si-extension-field" data-bind="ojComponent: {
                            component: 'ojInputText',
                            placeholder: extensionPlaceholder,
                            value: extensionValue
                        }">
                    </div>
                </div>

                <!-- Observations field -->
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <!-- Label -->
                        <label for="si-observations-r-field" data-bind="text: observationsRLabel"></label>

                        <!-- Text Area -->
                        <textarea id="si-observations-r-field" rows="3" data-bind="ojComponent: {
                            component: 'ojTextArea',
                            rootAttributes: {
                                'style': 'max-height: 100%; max-width: 100%;'
                            },
                            value: observationsRValue
                        }"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Metadata section -->
    <div id="metadata-section" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
        <!-- Collapsible title -->
        <h4 id="metadata-title" data-bind="text: metadataTitle"></h4>

        <!-- Collapsible content -->
        <div class="oj-form-layout"></div>
    </div>

    <!-- Goals and progress section -->
    <div id="goals-section" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
        <!-- Collapsible title -->
        <h4 id="goals-title" data-bind="text: goalsTitle"></h4>

        <!-- Collapsible content -->
        <div class="oj-form-layout"></div>
    </div>
</div>