<div class="oj-row">
    <!--Home Description-->
    <div id="home-description" data-bind="ojModule: {viewName: 'view-parts/home/home-description'}"></div>

    <!--Home Demo Video-->
    <div id="home-demo" data-bind="ojModule: {viewName: 'view-parts/home/home-demo'}"></div>    

    <!--Home Memberships-->
    <div id="home-membership" data-bind="ojModule: {viewName: 'view-parts/home/home-memberships'}"></div>                            

    <!--Home Contact-->
    <div id="home-contact" data-bind="ojModule: {viewName: 'view-parts/home/home-contact'}"></div>

    <!--Home Crew-->
    <div id="home-crew" data-bind="ojModule: {viewName:'view-parts/home/home-crew'}"></div>                            
</div>