<!-- ko if: $data -->
<div class="full-width form-container oj-accordion-collapsible"
     data-bind="attr: {id: collapsibleId},
                ojComponent: {
                    component: 'ojCollapsible',
                    expandArea: 'disclosureIcon',
                    expanded: true
                }">
    <h4 class="" data-bind="attr:{id: titleId}, text: title"></h4>
    <div class="oj-flex full-width collapsible-content">
        <i class="fa fa-plus fa-lg pointer icon-padding"
           data-bind="attr: {title: newHint}, style: {opacity: state}, click: newClickHandler"></i>
        <i class="fa fa-exclamation-circle fa-lg icon-padding" style="color: orange"
           data-bind="visible:showNewError, text: newErrorText"></i>
        <script type="text/html" data-bind="attr:{id: rowTemplateId}">
            <tr data-bind="style: {'background-color': $parent.rowComputedColor(id, $data)}">
                <td data-bind="text: name">
                </td>
                <td>
                    <!-- ko if: $parent.displayAction('filter') -->
                    <i class="fa fa-filter fa-border fa-lg pointer"
                        data-bind="click: $parent.filterHandler, style: {color: $parent.filterIconComputedColor(id)}"></i>
                    <!-- /ko -->
                    <!-- ko if: $parent.displayAction('delete')-->
                    <i class="fa fa-trash fa-border fa-lg pointer"
                       data-bind="click: $parent.deleteHandler"></i>
                    <!-- /ko -->
                </td>
            </tr>
        </script>
        <script type="text/html" data-bind="attr:{id: editRowTemplateId}">
            <tr>
                <td>
                    <input type="text" id="name"
                           data-bind="ojComponent:{
                                       component: 'ojInputText',
                                       value: name
                                   }">
                    </input>
                </td>
                <td>
                    <i class="fa fa-filter fa-border fa-lg pointer"
                        data-bind="click: $parent.filterHandler"></i>
                    <i class="fa fa-trash fa-border fa-lg pointer"
                       data-bind="click: $parent.deleteHandler"></i>
                </td>
            </tr>
        </script>
        <table data-bind="attr:{
                              id: id,
                              summary: tableSummary,
                              'aria-label': tableAria
                          },
                          ojComponent: {
                              component: 'ojTable',
                              data: observableDataSource,
                              columns: columns,
                              rowTemplate: getRowTemplate,
                              beforeCurrentRow: currentRowHandler,
                              editMode: 'rowEdit',
                              rootAttributes: {
                                  style: 'width: 100%'
                              },
                              display: 'grid'
                          }">
        </table>
    </div>
    <div id="dialogWrapper">
        <div style="display:none"
           data-bind="attr: {id: deleteErrorDialogId, title: deleteErrorDialogTitle},
                    ojComponent: {
                        component: 'ojDialog',
                        initialVisibility: 'hide'
                    }">
            <div class="oj-dialog-body" data-bind="text: deleteErrorText"></div>
            <div class="oj-dialog-footer">
                <button data-bind="click: closeErrorDialog,
                                   ojComponent: {
                                       component: 'ojButton',
                                       label: deleteErrorDialogOkButtonLabel
                                   }">
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->