<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="appheader-logo" >
    <div class="appheader-logo-block">
        <span role="img" class="oj-icon appheader-logo-oracle" title="Logo" alt="Logo"></span>  
    </div>
    <div class="appheader-appname-block">
        <span style="" class="appheader-appname" data-bind="text: $parent.appTitle"></span>
    </div>
</div>