<div class="full-height full-width">
    <h2 class="centered" data-bind="text: title"></h2>
    <div id="vision-content" class="full-width form-container"
         data-bind="ojComponent: {
                        component: 'ojCollapsible',
                        expandArea: 'disclosureIcon',
                        expanded: true
                    }">
        <h4 id="strategic-vision" data-bind="text: visionTitle"></h4>
        <textarea id="vision-text-area"
                  data-bind="ojComponent: {
                                 component: 'ojTextArea', 
                                 value: vision,
                                 placeholder: placeholder,
                                 required: true,
                                 rootAttributes: {
                                    style: 'max-width: 100%'
                                 }
                             }"></textarea>
    </div>
    <div data-bind="template: {name: 'EditableTable', data: observableAxesTable}"></div>
    <div data-bind="template: {name: 'EditableTable', data: observableTopicsTable}"></div>
    <div data-bind="template: {name: 'EditableTable', data: observableObjectivesTable}"></div>
    <div data-bind="template: {name: 'EditableTable', data: observableStrategiesTable}"></div>
</div>