<div id="main-menu-container" class="oj-flex-bar">
    <div class="oj-flex-bar-middle oj-sm-justify-content-center">
        <div id="main-menu-button-set"
             data-bind="ojComponent: {
                    component: 'ojButtonset',
                    optionChange: clickHandler.bind($module),
                    checked: checked
                }">
            <!-- ko foreach: menuItems -->
            <label data-bind="attr: {for: $data.id}"></label>
            <input type="radio" name="options"
                   data-bind="value: $data.id, attr: {id: $data.id},
                              ojComponent: { 
                                  component: 'ojButton',
                                  label: $data.label 
                              }"/>
            <!-- /ko -->
        </div>
    </div>
    <div class="oj-flex-bar-end" data-bind="click: gearClickHandler"><i class="fa fa-gear"></i></div>
</div>