<div class="full-height full-width">

    <!-- Section title -->
    <div class="oj-flex-bar">
        <div class="oj-flex-bar-middle oj-sm-justify-content-center">
            <h2 class="centered" data-bind="text: title"></h2>
        </div>
        <div class="oj-flex-bar-end">
            <div data-bind="template: {name: 'FormActions', data: formActions}"></div>
        </div>
    </div>

    <!-- General filter section -->
    <div id="vision-content" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
            component: 'ojCollapsible',
            expandArea: 'disclosureIcon',
            expanded: false
        }">
        <!-- Collapsible title -->
        <h4 id="general-filter" data-bind="text: generalFilter"></h4>

        <!-- Collapsible content -->
        <div class="oj-form-layout collapsible-content">
            <div class="oj-form">
                <div class="oj-flex oj-flex-items-pad">
                    <!-- Type option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="type" class="oj-label" data-bind="text: typeLabel"></label>
                        <select id="type" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="PIDE">PIDE</option>
                            <option value="MECASUT">MECASUT</option>
                            <option value="PE">PE</option>
                        </select>
                    </div>

                    <!-- Status option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="status" class="oj-label" data-bind="text: statusLabel"></label>
                        <select id="status" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="Normal">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="Incompleto e inactivo">Incompleto e inactivo</option>
                        </select>
                    </div>

                    <!-- Periodicity option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="periodicity" class="oj-label" data-bind="text: periodicityLabel"></label>
                        <select id="periodicity" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="Mensual">Mensual</option>
                            <option value="Trimestral">Mensual</option>
                            <option value="Cuatrimestral">Cuatrimestral</option>
                            <option value="Semestral">Semestral</option>
                            <option value="Anual">Anual</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PIDE filter section -->
    <div id="vision-content" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
        <!-- Collapsible title -->
        <h4 id="pide-filter" data-bind="text: pideFilter"></h4>

        <!-- Collapsible content -->
        <div class="oj-form-layout collapsible-content">
            <div class="oj-form">
                <div class="oj-flex oj-flex-items-pad">
                    <!-- Axis option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="axis" class="oj-label" data-bind="text: axisLabel"></label>
                        <select id="axis" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="Eje 1">Eje 1</option>
                            <option value="Eje 2">Eje 2</option>
                        </select>
                    </div>

                    <!-- Topic option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="topic" class="oj-label" data-bind="text: topicLabel"></label>
                        <select id="topic" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="Tema 1">Tema 1</option>
                            <option value="Tema 2">Tema 2</option>
                        </select>
                    </div>

                    <!-- Objective option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="objective" class="oj-label" data-bind="text: objectiveLabel"></label>
                        <select id="objective" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="Objetivo 1">Objetivo 1</option>
                            <option value="Objetivo 2">Objetivo 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Responsible filter section -->
    <div id="responsible-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
        <!-- Collapsible title -->
        <h4 id="responsible-filter" data-bind="text: responsibleFilter"></h4>

        <!-- Collapsible content -->
        <div class="oj-form-layout collapsible-content">
            <div class="oj-form">
                <div class="oj-flex oj-flex-items-pad">
                    <!-- Secretary option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="responsible" class="oj-label" data-bind="text: secretaryLabel"></label>
                        <select id="responsible" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="Rectoría">Rectoría</option>
                            <option value="Secretaría Administrativa">Secretaría</option>
                            <option value="Secretaría Académica">Secretaría Académica</option>
                            <option value="Secretaría de Vinculación">Secretaría de Vinculación</option>
                        </select>
                    </div>

                    <!-- Area option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="address" class="oj-label" data-bind="text: areaLabel"></label>
                        <select id="address" class="collapsible-content" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="Dirección 1">Dirección 1</option>
                            <option value="Dirección 2">Dirección 2</option>
                        </select>
                    </div>

                    <!-- Name option -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                        <label for="person" class="oj-label" data-bind="text: nameLabel"></label>
                        <select id="person" data-bind="ojComponent: {component: 'ojSelect'}">
                            <option value="Persona 1">Persona 1</option>
                            <option value="Persona 2">Persona 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-align">
        <input id="filter" data-bind="ojComponent: {
            component: 'ojInputText',
            placeholder: 'Escribe el nombre de un indicador'
        }" />
        <button id="clear" data-bind="ojComponent: { 
            component: 'ojButton',
            chroming: 'half',
            display: 'icons',
            label: 'Clear',
            icons: {
                'start': 'oj-fwk-icon oj-fwk-icon-cross03'
            }
        }">
        </button>
    </div>



    <div data-bind="template: {name: 'EditableTable', data: observableIndicatorsTable}"></div>

    <div class="oj-flex oj-sm-justify-content-flex-end">
        <div data-bind="template: {name: 'FormActions', data: formActions}"></div>
    </div>
</div>