<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="full-height full-width">
    <div class="oj-flex-bar">
        <div class="oj-flex-bar-middle oj-sm-justify-content-center">
            <h2 class="centered" data-bind="text: title"></h2>
        </div>
        <div class="oj-flex-bar-end">
            <div data-bind="template: {name: 'FormActions', data: formActions}"></div>
        </div>
    </div>
    <div style="display:none;"
        data-bind="attr: {id: saveDialogId, title: saveDialogTitle},
                   ojComponent:{
                       component: 'ojDialog',
                       initialVisibility: 'hide',
                       modality: 'modeless'
                   }">
        <div class="oj-dialog-body" data-bind="text: saveMessage"></div>
    </div>
    
    <div data-bind="template: {name: 'EditableTable', data: observableTiposPeTable}"></div>
    <!--<div data-bind="template: {name: 'EditableTable', data: observablePeTable}"></div>-->

    <div class="oj-flex oj-sm-justify-content-flex-end">
        <div data-bind="template: {name: 'FormActions', data: formActions}"></div>
    </div>
    <div id="dialog-reset-container">
        <div style="display:none"
           data-bind="attr: {id: resetDialogId, title: resetDialogTitle},
                    ojComponent: {
                        component: 'ojDialog',
                        initialVisibility: 'hide'
                    }">
            <div class="oj-dialog-body" data-bind="text: resetWarningText"></div>
            <div class="oj-dialog-footer">
                <button data-bind="click: clickOkHandler,
                                   ojComponent: {
                                       component: 'ojButton',
                                       label: resetDialogOkButtonLabel
                                   }">
                </button>
                <button data-bind="click: clickCancelHandler,
                                   ojComponent: {
                                       component: 'ojButton',
                                       label: resetDialogCancelButtonLabel
                                   }">
                </button>
            </div>
        </div>
    </div>
</div>