<!--Home Contact-->
<div class="oj-xl-12 oj-lg-12 oj-sm-12 oj-col full-width"> 
    <div class="home-odd" >
        <div class="oj-row">   
            <div class="oj-xl-5 oj-lg-6 oj-md-12 oj-sm-12 oj-col"> 
                <div class="home-contact-map" data-bind="attr: {id: $parent.mapId}, visible: $parent.loadMap"></div>
            </div>
            <div class="oj-xl-5 oj-lg-5 oj-md-12 oj-sm-12 oj-col"> 
                <h1 class="home-contact-title" data-bind="text: $parent.contactTitle"></h1>
                <div class="home-contact-description" data-bind="text: $parent.contactDescription"></div>
            </div>
        </div>
    </div>
</div>
