<!-- Home Description-->
<div class="oj-xl-12 oj-lg-12 oj-sm-12 oj-col full-width"> 
    <div role="main" class="home-even">
        <div class="oj-row">
            <div class="oj-xl-5 oj-lg-6 oj-md-8 oj-sm-12 oj-col" > 
                <img src="http://placehold.it/250x150" class="home-description-image">
            </div>                         
            <div class="oj-xl-5 oj-lg-5 oj-md-12 oj-sm-12 oj-col"> 
                <h1 class="home-description-title" data-bind="text: $parent.appTitle"></h1>
                <div class="home-description-text" data-bind="text: $parent.description"></div>
            </div>
        </div> 
    </div>
</div>