<!-- ko if: $data -->
<div data-bind="text: title" class="component-title"></div>
<div id="panel-details-container" class="oj-flex oj-sm-flex-direction-column">
    <div class="oj-flex-item" 
         data-bind="visible: currentParents().length > 0,
            ojComponent: {
                component: 'ojCollapsible', 
                expanded: false,
                optionChange: collapseParentsHandler
         }">
        <div>
            <label data-bind="text: collapsibleParentsPanelTitle"></label>
        </div>
        <div class="oj-flex oj-sm-flex-direction-column">
            <!-- ko foreach: currentParents -->
            <div class="oj-flex-item" style="margin:10px 0px 10px 0px;">
                <div class="oj-flex oj-sm-flex-direction-column"
                     data-bind="click: $parent.clickHandler.bind($data.clickHandlerValue)">
                    <div class="oj-flex-item">
                        <div class="section-title" data-bind="text: $data.type"></div>
                    </div>
                    <div class="oj-flex-item">
                        <div data-bind="text: $data.text" class="pointer"></div>
                    </div>
                    <!-- ko with: $data.values -->
                    <div class="oj-flex-item oj-sm-12" 
                         style="padding-right: 5px; max-height:20px;"
                         data-bind="attr:{id: id},
                                ojComponent: {
                                        component: 'ojStatusMeterGauge', 
                                        min: min, 
                                        max: max, 
                                        thresholds: thresholdValues,
                                        value: value,
                                        referenceLines: referenceLines,
                                        title: title,
                                        plotArea: {rendered: 'on'},
                                        animationOnDisplay: 'auto',
                                        animationDuration: '1s'
                                }" 
                         style="">
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div data-bind="ojComponent: {component: 'ojMasonryLayout'}">
        <!-- ko with: selectedPlanElement -->
        <div class="oj-flex-item demo-tile" style="margin:10px 0px 10px 0px">
            <div class="demo-tile-content">
                <div class="demo-tile-front">
                    <div class="oj-flex-item">
                        <div class="section-title pointer"  
                                data-bind="text: $data.type + ' ' + $data.text,
                                    click: $parent.clickHandler.bind($data.clickHandlerValue)">
                        </div>
                    </div>
                    <div class="oj-flex-item oj-sm-12">
                        <div class="oj-sm-12 oj-flex" data-bind="click: $parent.clickHandler.bind($data.clickHandlerValue)">
                            <!-- ko with: $data.values -->
                            <div class="oj-sm-11" data-bind="ojComponent: {
                                        component: 'ojStatusMeterGauge', 
                                        min: min, 
                                        max: max, 
                                        thresholds: thresholdValues,
                                        value: value, 
                                        orientation: 'circular',
                                        metricLabel: {
                                            rendered: 'on',
                                            textType: 'percent'
                                        },
                                        startAngle:180,
                                        angleExtent: 180,
                                        plotArea: {rendered: 'on'},
                                        animationOnDisplay: 'auto',
                                        animationDuration: '1s'
                                    }" 
                                 style="align:center;margin-top:5px;margin-bottom:5px;height:150px;">
                            </div>
                            <!-- /ko -->
                            <div class="oj-sm-1 oj-sm-align-self-center">
                                <button data-bind="
                                    attr: {
                                        id:  'button-flip-id', 
                                        'aria-label': 'flip to show table'
                                    }, 
                                    ojComponent: {
                                        component: 'ojButton',
                                        chroming: 'half',
                                        display: 'icons', 
                                        icons: {start:  'oj-fwk-icon-caret-end oj-component-icon'}
                                    }, 
                                    click: $parent.flipHandler"
                                        title="Flip forward"
                                        class="demo-front-flip-icon"
                                        >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="demo-tile-back demo-hidden">
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-1 oj-sm-align-self-center">
                            <button data-bind="
                                    attr: {
                                        id:  'button-flip-id2', 
                                        'aria-label': 'flip to show back'
                                    }, 
                                    ojComponent: {
                                        component: 'ojButton',
                                        chroming: 'half',
                                        display: 'icons', 
                                        icons: {start:  'oj-fwk-icon-caret-start oj-component-icon'}
                                    }, 
                                    click: $parent.flipHandler"
                                    title="Flip back"
                                    class="demo-back-flip-icon"
                                    >
                            </button>
                        </div>
                        <div class="oj-flex-item">
                            <div class="oj-flex oj-flex-items-pad oj-sm-flex-direction-column">
                                <div class="oj-flex-item section-title left-align bottom-padding"
                                     data-bind="text: $data.type + ' ' + $data.text + ' - ' + $data.values.value + '%'">
                                </div>
                                <!-- ko foreach: {data: $data.responsibles, as: 'responsible'} -->
                                <div class="oj-flex-item">
                                    <div class="oj-flex">
                                        <div class="oj-flex-item oj-sm-2">
                                            <img data-bind="attr: {src: 'css/images/avatar_24px_2x.png'}"/>
                                        </div>
                                        <div class="oj-flex-item oj-sm-10">
                                            <div class="oj-flex oj-sm-flex-direction-column">
                                                <div class="oj-flex-item left-align" data-bind="text: responsible.person"></div>
                                                <div class="oj-flex-item oj-text-xs oj-text-secondary-color left-align" data-bind="text: responsible.area"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: childrenType -->
                                <div class="oj-flex-item" data-bind="text: childrenType">
                                </div>
                                <!-- /ko -->
                                <!-- ko foreach: {data: $data.children, as: 'child'} -->
                                    <div class="oj-flex-item">
                                        <div class="oj-flex oj-sm-flex-direction-column">
                                            <div class="oj-flex-item">
                                                <div class="oj-flex">
                                                    <div class="oj-flex-item left-align" data-bind="text: child.getName()"></div>
                                                    <!--<div class="oj-flex-item oj-text-xs oj-text-secondary-color left-align" data-bind="text: responsible.area"></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="oj-flex-item" 
         data-bind="visible: currentChildren().length > 0,
            ojComponent: {
                component: 'ojCollapsible', 
                expanded: false,
                optionChange: collapseChildrenHandler
         }">
        <div>
            <label data-bind="text: collapsibleChildrenPanelTitle"></label>
        </div>
        <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">
            <div class="oj-flex-item oj-sm-12 centered section-title" data-bind="text: childrenType"></div>
            <!-- ko foreach: currentChildren -->
            <div class="oj-flex-item oj-sm-6" style="margin:10px 0px 10px 0px">
                <div class="oj-flex oj-sm-flex-direction-column" 
                     data-bind="click: $parent.clickHandler.bind($data.clickHandlerValue)">
                    <!-- ko with: $data.values -->  
                    <div class="oj-flex-item oj-sm-12" data-bind="ojComponent: {
                                        component: 'ojStatusMeterGauge', 
                                        min: min, 
                                        max: max, 
                                        thresholds: thresholdValues,
                                        value: value, 
                                        orientation: 'circular',
                                        metricLabel: {
                                            rendered: 'on',
                                            textType: 'percent'
                                        },
                                        plotArea: {rendered: 'on'},
                                        animationOnDisplay: 'auto',
                                        animationDuration: '1s'
                                    }" 
                         style="align:center;height: 150px;">
                    </div>
                    <!-- /ko -->
                    <div class="oj-flex-item oj-sm-12 pointer" 
                         style="margin-top: 5px;text-align: center;"
                         data-bind="text: $data.text">
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->