<!-- ko with: $parent.sunburst -->
<div class="full-width full-height" 
     data-bind="ojComponent: {
            component: 'ojSunburst',
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            animationDuration: '2s',
            nodes: nodeValues,
            optionChange: clickHandler,
            rotation: 'on',
            startAngle: 30,
            selection: selection,
            nodeDefaults: {
                labelDisplay: 'rotated',
                selectedInnerColor: '#FFFFFF',
                selectedOuterColor: '#FFFFFF'
            }
        }" 
     >
</div>
<!-- /ko -->