<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="full-height full-width">
    <div class="oj-flex-bar-middle oj-sm-justify-content-center">
            <h2 class="centered" data-bind="text: title"></h2>
    </div>

    <div class="oj-flex-bar">
        <div class="oj-flex-bar-end">
            <div data-bind="template: {name: 'FormActions', data: formActions}"></div>
            <i class="fa fa-eraser fa-lg fa-border" aria-hidden="true"></i>
            <a class="btn btn-default" href="#">
                <i class="fa fa-table fa-lg fa-border" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    
    <div style="padding-left: 1%; margin-bottom: 1%">
    <!-- OPCIONES -->
            <div class="oj-flex-item oj-sm-justify-content-center">
                <div class="oj-choice-direction-row">
              
                    <label id="typeGroup" data-bind="text: typeLabel"></label>

                    <div id="radioset" aria-labelledby='typeGroup' data-bind="ojComponent: {
                        component: 'ojRadioset', 
                        required: true, 
                        value: typeValue
                    }">
                        <!-- PROCESO -->
                        <span class="oj-choice-item">
                            <input type="radio" id="poa-proceso-radio" name="poa-type-radio" data-bind="value: proceso">
                            <label for="poa-proceso-radio" data-bind="text: proceso"></label>
                        </span>

                        <!-- PROYECTO -->
                        <span class="oj-choice-item">
                            <input type="radio" id="poa-proyecto-radio" name="poa-type-radio" data-bind="value: proyecto">
                            <label for="poa-proyecto-radio" data-bind="text: proyecto"></label>
                        </span>

                    </div>
                </div>
            </div>
    </div>
    
    <div id="sectionGeneral-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
            component: 'ojCollapsible',
            expandArea: 'disclosureIcon',
            expanded: true
    }">
 
        <h4 id="section-general-poa" data-bind="text: titleGeneral"></h4>
        
        <div class="oj-form-layout collapsible-content">
        
            <!-- ALCANCE -->
            <div class="oj-flex-item oj-sm-justify-content-center" style="margin-bottom: 1%">
                <div class="oj-choice-direction-row">
              
                    <label id="scopeGroup" data-bind="text: scopeLabel"></label>

                    <div id="radioset" aria-labelledby='scopeGroup' data-bind="ojComponent: {
                        component: 'ojRadioset', 
                        required: false, 
                        value: scopeValue
                    }">
                        <!-- ANUAL -->
                        <span class="oj-choice-item">
                            <input type="radio" id="scope-anual-radio" name="poa-scope-radio" data-bind="value: anual">
                            <label for="scope-anual-radio" data-bind="text: anual"></label>
                        </span>

                        <!-- MULTIANUAL -->
                        <span class="oj-choice-item">
                            <input type="radio" id="scope-multiAnual-radio" name="poa-scope-radio" data-bind="value: multiAnual">
                            <label for="scope-multiAnual-radio" data-bind="text: multiAnual"></label>
                        </span>

                    </div>
                </div>
            </div>
            
            <!-- DENOMINACIÓN DEL PROCESO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="name-field" data-bind="text: nameLabel"></label>

                    <input id='name-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: namePlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: nameValue
                    }">
                </div>
            </div>
            
            <!-- OBJETIVO DEL PROCESO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="objective-field" data-bind="text: objectiveLabel"></label>

                    <textarea id='objective-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        placeholder: objectivePlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: objectiveValue
                    }"></textarea>
                </div>
            </div>
             
            <!-- CLASE -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                   
                    <label for='select-class'data-bind="text: classLabel"></label>

                    <select id='select-class' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: classOptions,
                        required: true,
                        rootAttributes: {
                          style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: classValue
                    }"></select>

                </div>
            </div>
            
            <!-- PROBLEMÁTICA -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="problematic-field" data-bind="text: problematicLabel"></label>

                    <textarea id='problematic-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        placeholder: problematicPlaceHolder,
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: problematicValue
                    }"></textarea>
                </div>
            </div>
            
            <div class="oj-flex oj-flex-bar oj-flex-items-pad" style="margin-top: 2%">                  
                <!-- AÑO -->
                <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline">

                    <label for="año-field" data-bind="text: yearLabel"></label>
                    
                    <input id='año-fiel'  class="centered" data-bind="ojComponent: {
                        component: 'ojInputNumber',
                        converter: yearConverter,
                        max: 3000,
                        min: 1900,
                        step: 1,
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 45%; margin-left: 3%;'
                        },
                        value: yearValue
                    }">
                            
                </div>
                
                <!-- INICIO -->
                <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline; padding-left: 5%">
                 
                    <label for="start-field" data-bind="text: startLabel"></label>
                    
                    <input id='start-field' data-bind="ojComponent: {
                        component: 'ojInputDate',
                        converter: startConverter,
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 68%; margin-left: 3%;'
                        },
                        value: startValue
                    }">
                    
                </div>
                
                <!-- TERMINO -->
                <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline; padding-left: 10%">
                 
                    <label for="finished-field" data-bind="text: finishedLabel"></label>
                    
                    <input id='finished-field' data-bind="ojComponent: {
                        component: 'ojInputDate',
                        converter: finishedConverter,
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%; margin-left: 3%;'
                        },
                        value: finishedValue
                    }">
                    
                </div>
                
            </div>
            
            <!-- CALIFICACIÓN -->
            <fieldset  style="margin-top: 2%">
                
                <legend>
                    
                    <label data-bind="text: qualificationLabel"></label>
                    <span class="oj-label-required-icon"></span>
                    
                </legend> 
                <!-- ROJO -->
                <div class="oj-flex">                  
                    <div class="oj-flex-item">

                        <label for="red-field" class="oj-label" data-bind="text: redLabel"></label>

                        <input id='red-fiel' class="right-align" data-bind="ojComponent: {
                            component: 'ojInputNumber',
                            converter: qualificationConverter,
                            max: 1,
                            min: 0,
                            step: .05,
                            required: true,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 200%;'
                            },
                            value: redValue
                        }">

                    </div>      
                </div>         
                <!-- NARANJA -->
                <div class="oj-flex">                  
                    <div class="oj-flex-item">

                        <label for="orange-field" class="oj-label" data-bind="text: orangeLabel"></label>

                        <input id='orange-fiel' class="right-align" data-bind="ojComponent: {
                            component: 'ojInputNumber',
                            converter: qualificationConverter,
                            max: 1,
                            min: 0,
                            step: .05,
                            required: true,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 100%;'
                            },
                            value: orangeValue
                        }">

                    </div>      
                </div>
                <!-- AMARILLO -->
                <div class="oj-flex">                  
                    <div class="oj-flex-item">

                        <label for="yellow-field" class="oj-label" data-bind="text: yellowLabel"></label>

                        <input id='yellow-fiel' class="right-align" data-bind="ojComponent: {
                            component: 'ojInputNumber',
                            converter: qualificationConverter,
                            max: 1,
                            min: 0,
                            step: .05,
                            required: true,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 100%;'
                            },
                            value: yellowValue
                        }">

                    </div>      
                </div>
                <!-- VERDE -->
                <div class="oj-flex">                  
                    <div class="oj-flex-item">

                        <label for="green-field" class="oj-label" data-bind="text: greenLabel"></label>

                        <input id='green-fiel' class="right-align" data-bind="ojComponent: {
                            component: 'ojInputNumber',
                            converter: qualificationConverter,
                            max: 1,
                            min: 0,
                            step: .05,
                            required: true,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 100%;'
                            },
                            value: greenValue
                        }">

                    </div>      
                </div>

            </fieldset>
              
        </div>     
    </div>
    
    <!-- SECCIÓN ALINEACIÓN -->
    <div id="sectionAlignment-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: true
    }">
 
        <h4 id="section-alignment-poa" data-bind="text: alignmentTitle"></h4>
        
        <div class="oj-form-layout collapsible-content">
            
            <i class="fa fa-plus fa-lg pointer icon-padding"
                
               data-bind=""data-bind="attr: {title: newHint}, style: {opacity: state}, click: newClickHandler">

            </i>
            
            <fieldset>

                <legend>

                    <label data-bind="text: alignmentLabel"></label>
                    <span class="oj-label-required-icon"></span>
                                            
                </legend>
                
                <!-- EJES -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-axes-alignment'data-bind="text: axesLabel"></label>

                        <select id='select-axes-alignment' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: axesOptions,
                            required: false,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: axesValue
                        }"></select>

                    </div>
                </div>

                <!-- TEMAS -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-themes'data-bind="text: themesLabel"></label>

                        <select id='select-themes' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: themesOptions,
                            required: false,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: themesValue
                        }"></select>

                    </div>
                </div>

                <!-- OBJETIVOS -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-objectives'data-bind="text: objectivesLabel"></label>

                        <select id='select-objectives' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: objectivesOptions,
                            required: false,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: objectivesValue
                        }"></select>

                    </div>
                </div>

                <!-- OBJETIVOS -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-indicators'data-bind="text: indicatorsLabel"></label>

                        <select id='select-indicators' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: indicatorsOptions,
                            required: false,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: indicatorsValue
                        }"></select>

                    </div>
                </div>
                
                <div class="oj-flex" style="float: right; margin-top: 2%">                  
                    <div class="oj-flex-item">

                        <button id='button' class="right-align" data-bind="ojComponent: {
                            component: 'ojButton',
                            label: buttonLabel,
                            required: false,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 100%;'
                            }
                        }"></button>

                    </div>      
                </div>
                
            </fieldset>
            
             <!-- TABLA INDICADORES ALINEADOS -->
            <div data-bind="template: {name: 'EditableTable', data: observableAlignedIndicatorsTable}"></div>
            
        </div>
    </div>
    
    <!-- SECCIÓN RESPONSABLE -->
    <div id="sectionResponsable-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: true
    }">
 
        <h4 id="section-responsable-poa" data-bind="text: responsableTitle"></h4>
        
        <div class="oj-form-layout collapsible-content">
            
            <!-- SECRETARÍA -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">

                    <label for='select-secretary'data-bind="text: secretaryLabel"></label>

                    <select id='select-axes' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: secretaryOptions,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                            value: secretaryValue
                        }"></select>

                </div>
            </div>
            
            <!-- DIRECCIÓN -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">

                    <label for='select-direction'data-bind="text: directionLabel"></label>

                    <select id='select-axes' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: directionOptions,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                            value: directionValue
                        }"></select>

                </div>
            </div>
            
            <!-- JEFE DE DEPARTAMENTO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">

                    <label for='select-boss'data-bind="text: bossLabel"></label>

                    <select id='select-boss' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: bossOptions,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                            value: bossValue
                        }"></select>

                </div>
            </div>
            
            <!-- RESPONSABLE -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">

                    <label for='select-responsable'data-bind="text: responsableLabel"></label>

                    <select id='select-responsable' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: responsableOptions,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                            value: responsableValue
                        }"></select>

                </div>
            </div>
            
            <!-- CARGO DEL RESPONSABLE -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="position-field" data-bind="text: positionLabel"></label>

                    <input id='position-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: positionPlaceHolder,
                        disabled: true,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: positionValue
                    }">
                </div>
            </div>
            
            <!-- CORREO ELECTRONICO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="email-field" data-bind="text: emailLabel"></label>

                    <input id='email-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: emailPlaceHolder,
                        disabled: true,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: emailValue
                    }">
                </div>
            </div>
            
            <!-- TELÉFONO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="tel-field" data-bind="text: telLabel"></label>

                    <input id='tel-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: telPlaceHolder,
                        disabled: true,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: telValue
                    }">
                </div>
            </div>
            
            <!-- EXTENSIÓN -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="extension-field" data-bind="text: extensionLabel"></label>

                    <input id='extension-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: extensionPlaceHolder,
                        disabled: true,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: extensionValue
                    }">
                </div>
            </div>
            
            <!-- OBSERVACIONES -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="observations-field" data-bind="text: observationsLabel"></label>

                    <textarea id='objective-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: observationsValue
                    }"></textarea>
                </div>
            </div>
           
        </div>
    </div>
    
     <!-- SECCIÓN COMPONENTES -->
    <div id="sectionComponent-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
            component: 'ojCollapsible',
            expandArea: 'disclosureIcon',
            expanded: true
    }">
 
        <h4 id="section-component-poa" data-bind="text: componentsTitle"></h4>
        
        <div class="oj-form-layout collapsible-content">
            
            <i class="fa fa-plus fa-lg pointer icon-padding"
                
               data-bind=""data-bind="attr: {title: newHint}, style: {opacity: state}, click: newClickHandler">

            </i>
            
            <fieldset>

                <legend>

                    <label data-bind="text: componentsLabel"></label>
                    <span class="oj-label-required-icon"></span>
                                            
                </legend>
                
                <!-- NOMBRE -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for="nameComponent-field" data-bind="text: componentName"></label>

                        <input id='nameComponent-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: true,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: componentNameValue
                        }">
                    </div>
                </div>

                <!-- DESCRIPCIÓN -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for="description-field" data-bind="text: description"></label>

                        <textarea id='description-field' data-bind="ojComponent: {
                            component: 'ojTextArea',
                            required: false,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: descriptionValue
                        }"></textarea>
                    </div>
                </div>
                  
                <!-- INDICADOR -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for="indicator-field" data-bind="text: indicator"></label>

                        <input id='indicator-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: true,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: indicatorsValue
                        }">
                    </div>
                </div>
                
                <!-- UNIDAD DE MEDIDA -->
                <div class="oj-flex" style="margin-bottom: 2%">
                    <div class="oj-flex-item">

                        <label for="unit-field" data-bind="text: unit"></label>

                        <input id='unit-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: false,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: unitValue
                        }">
                    </div>
                </div>
                
                <div class="oj-flex oj-flex-bar oj-flex-items-pad" style="margin-bottom: 1%">                  
                    <!-- VALOR INICIAL -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline">

                        <label for="initial-field" data-bind="text: initial"></label>

                        <input id='initial-field'  class="centered" data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: false,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 45%; margin-left: 3%;'
                            },
                                value: initialValue
                            }">

                    </div>

                    <!-- META FINAL -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline; padding-left: 5%">

                        <label for="finishLine-field" data-bind="text: finishLine"></label>

                        <input id='finishLine-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: false,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 68%; margin-left: 3%;'
                            },
                                value: finishLineValue
                            }">

                    </div>

                    <!-- AVANCE GENERAL -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: center; padding-left: 10%">

                        <label for="generalAdvance-field" data-bind="text: generalAdvance"></label>

                            <input id='generalAdvance-field' data-bind="ojComponent: {
                                component: 'ojInputText',
                                converter: converterGeneralAdvance,
                                required: false,
                                rootAttributes: {
                                    style: 'height: 100% ; max-width: 100%; margin-left: 3%;'
                                },
                                value: generalAdvanceValue
                            }">

                    </div>
                        
                </div>
                
                <!-- RESPONSABLE COMPONENTE -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-responsableComponent'data-bind="text: responsableComponents"></label>

                        <select id='select-responsableComponent' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: responsableComponentsOptions,
                            required: true,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: responsableComponentsValue
                        }"></select>

                    </div>
                </div>
                
                <!-- JUSTIFICACIÓN -->
                <div class="oj-flex" style="margin-bottom: 2%">
                    <div class="oj-flex-item">
                        
                        <label for='justification-field' data-bind="text: justification"></label>
                        
                        <textarea id='justification-field' data-bind="ojComponent: {
                            component: 'ojTextArea',
                            required: false, 
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: justificationValue
                        }"></textarea>
                        
                    </div>   
                </div>
                <!-- TABLA AVANCES Y METAS -->
                <fieldset>

                    <legend>

                        <label data-bind="text: advancesLabel"></label>
                        <span class="oj-label-required-icon"></span>
                        
                    </legend>
                    
                    <div class="oj-flex" style="padding-left: 2%">
                        <div class="oj-flex-item oj-table-body-row-edit">
                            
                            <table id="dataTable" class="fa-border" data-bind="ojComponent: {
                                component: 'ojTable',
                                columns: columnsAdvances,
                                columnsDefault: {
                                    sortable: 'auto'
                                },
                                data: dataSource,
                                display: 'grid',
                                editMode: 'rowEdit',
                                rootAttributes: {
                                    style: 'width: 98%;'
                                },
                                rowTemplate: getTableRowTemplate,
                                beforeRowEditEnd: beforeRowEditEnd,
                            }"></table>
                                
                        </div>
                    </div>
                    
                </fieldset>     
                <!-- GRAFICA -->
                <div id='chart-container' class="oj-margin" style="margin-top: 2%; margin-bottom: 2%">
                        <div id="advance-chart" data-bind="ojComponent: {
                            component: 'ojChart',
                            type: 'line',
                            series: lineSeriesValue,
                            groups: lineGroupsValue,
                            animationOnDisplay: 'auto',
                            animationOnDataChange: 'auto',
                            hoverBehavior: 'dim',
                            rootAttributes: {
                                'style': 'width: 100%; height: 350px;'  
                            }       
                    }"></div>
                </div>
                
            </fieldset>
            
            <!-- TABLA COMPONENTES -->
                <div data-bind="template: {name: 'EditableTable', data: observableComponentsTable}"></div>
           
        </div>     
    </div>
                
</div>

<!-- ROW TEMPLATE -->
<script type="text/html" id="RowTemplate">
    <tr>
        <td data-bind="text: Mes"></td>
        <!--ko foreach: $parent.lineGroupsValue-->
        <td data-bind="text: $data"></td>
        <!--/ko-->
    </tr>       
</script>

<!-- EDITAR COLUMNA TEMPLATE -->
<script type="text/html" id="EditRowTemplate">
  
    <!--<tr data-bind="ifnot: Mes === '% Avance'">-->
        <td data-bind="text: Mes"></td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Ene 
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Feb
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Mar
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Abr
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: May
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Jun
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Jul
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Ago
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Sep
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Oct
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Nov
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                value: Dic
            }">
        </td>
    </tr> 
</script>

<!--<script type="text/html" id="advanceRowTemplate">
    <tr data-bind="if: Mes === '% Avance'">
        <td data-bind="text: Mes"></td>
        <td data-bind="text: Ene"></td>
        <td data-bind="text: Feb"></td>
        <td data-bind="text: Mar"></td>
        <td data-bind="text: Abr"></td>
        <td data-bind="text: May"></td>
        <td data-bind="text: Jun"></td>
        <td data-bind="text: Jul"></td>
        <td data-bind="text: Ago"></td>
        <td data-bind="text: Sep"></td>
        <td data-bind="text: Oct"></td>
        <td data-bind="text: Nov"></td>
        <td data-bind="text: Dic"></td>
    </tr>
</script>-->

