<!DOCTYPE html>
<div class="full-height full-width">
    <div class="oj-flex-bar-middle oj-sm-justify-content-center">
            <h2 class="centered" data-bind="text: title"></h2>
    </div>

    <div class="oj-flex-bar">
        <div class="oj-flex-bar-end">
            <div data-bind="template: {name: 'FormActions', data: formActions}"></div>
            <i class="fa fa-eraser fa-lg fa-border" aria-hidden="true"></i>
            <a class="btn btn-default" href="#">
                <i class="fa fa-table fa-lg fa-border" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    
    <div style="padding-left: 1%; margin-bottom: 1%">
    <!-- OPCIONES -->
            <div class="oj-flex-item oj-sm-justify-content-center">
                <div class="oj-choice-direction-row">
              
                    <label id="typeGroup" data-bind="text: typeLabel"></label>

                    <div id="radioset" aria-labelledby='typeGroup' data-bind="ojComponent: {
                        component: 'ojRadioset', 
                        required: true,
                        value: typeValue
                    }">
                        <!-- PROCESO -->
                        <span class="oj-choice-item">
                            <input type="radio" id="poa-proceso-radio" name="poa-type-radio" data-bind="value: proceso">
                            <label for="poa-proceso-radio" data-bind="text: proceso"></label>
                        </span>

                        <!-- PROYECTO -->
                        <span class="oj-choice-item">
                            <input type="radio" id="poa-proyecto-radio" name="poa-type-radio" data-bind="value: proyecto">
                            <label for="poa-proyecto-radio" data-bind="text: proyecto"></label>
                        </span>

                    </div>
                </div>
            </div>
    </div>
    
    <div id="sectionGeneral-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
            component: 'ojCollapsible',
            expandArea: 'disclosureIcon',
            expanded: false
    }">
 
        <h4 id="section-general-poa" data-bind="text: titleGeneral"></h4>
        
        <div class="oj-form-layout collapsible-content">
        
            <!-- ALCANCE -->
            <div class="oj-flex-item oj-sm-justify-content-center" style="margin-bottom: 1%">
                <div class="oj-choice-direction-row">
              
                    <label id="scopeGroup" data-bind="text: scopeLabel"></label>

                    <div id="radioset" aria-labelledby='scopeGroup' data-bind="ojComponent: {
                        component: 'ojRadioset', 
                        required: false, 
                        value: scopeValue
                    }">
                        <!-- ANUAL -->
                        <span class="oj-choice-item">
                            <input type="radio" id="scope-anual-radio" name="poa-scope-radio" data-bind="value: anual">
                            <label for="scope-anual-radio" data-bind="text: anual"></label>
                        </span>

                        <!-- MULTIANUAL -->
                        <span class="oj-choice-item">
                            <input type="radio" id="scope-multiAnual-radio" name="poa-scope-radio" data-bind="value: multiAnual">
                            <label for="scope-multiAnual-radio" data-bind="text: multiAnual"></label>
                        </span>

                    </div>
                </div>
            </div>
            
            <!-- ko if: typeValue() === 'Proceso'  -->
            <!-- DENOMINACIÓN DEL PROCESO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                    
                    <label for="nameProcess-field" data-bind="text: nameProcessLabel"></label>

                    <input id='nameProcess-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: namePlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: nameValue
                    }">
                    
                </div>
            </div>
            
            <!-- OBJETIVO DEL PROCESO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="objectiveProcess-field" data-bind="text: objectiveLabel"></label>

                    <textarea id='objectiveProcess-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        placeholder: objectiveProcessPlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: objectiveValue
                    }"></textarea>
                </div>
            </div>
            <!-- /ko -->
            
            <!-- ko if: typeValue() === 'Proyecto'  -->
            <!-- DENOMINACIÓN DEL PROYECTO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                    
                    <label for="nameProyect-field" data-bind="text: nameProyectLabel"></label>

                    <input id='nameProyect-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: namePlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: nameValue
                    }">
                    
                </div>
            </div>
            
            <!-- OBJETIVO DEL PROYECTO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="objectiveProyect-field" data-bind="text: objectiveLabel"></label>

                    <textarea id='objectiveProyect-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        placeholder: objectiveProyectPlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: objectiveValue
                    }"></textarea>
                </div>
            </div>
            <!-- /ko -->
            
            <!-- ko if: typeValue() === 'Proceso'  -->
            <!-- CLASE -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                   
                    <label for='select-class'data-bind="text: classLabel"></label>

                    <select id='select-class' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: classOptions,
                        required: true,
                        rootAttributes: {
                          style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: classValue
                    }"></select>

                </div>
            </div>
   
            <!-- PROBLEMÁTICA -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="problematic-field" data-bind="text: problematicLabel"></label>

                    <textarea id='problematic-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        placeholder: problematicPlaceHolder,
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: problematicValue
                    }"></textarea>
                </div>
            </div>
            <!-- /ko -->
            
            <!-- ko if: typeValue() === 'Proyecto'  -->
            <!-- JUSTIFICACIÓN DEL PROYECTO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="justificationProyect-field" data-bind="text: justificationProyectLabel"></label>

                    <textarea id='justificationProyect-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        placeholder: justificationProyectPlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: justificationProyectValue
                    }"></textarea>
                </div>
            </div>
            
            <!-- DESCRIPCIÓN DEL PROYECTO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="description-field" data-bind="text: descriptionLabel"></label>

                    <textarea id='description-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        placeholder: descriptionPlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: descriptionValue
                    }"></textarea>
                </div>
            </div>
            
            <!-- RESULTADOS ESPERADOS -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="results-field" data-bind="text: resultsLabel"></label>

                    <textarea id='results-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        placeholder: resultsPlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: resultsValue
                    }"></textarea>
                </div>
            </div>
            <!-- /ko -->
            
            <div class="oj-flex oj-flex-bar oj-flex-items-pad" style="margin-top: 2%; margin-bottom: 2%">                  
                <!-- AÑO -->
                <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline">

                    <label for="año-field" data-bind="text: yearLabel"></label>
                    
                    <input id='año-fiel'  class="centered" data-bind="ojComponent: {
                        component: 'ojInputNumber',
                        converter: yearConverter,
                        max: 3000,
                        min: 1900,
                        step: 1,
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 45%; margin-left: 3%;'
                        },
                        value: yearValue
                    }">
                            
                </div>
                
                <!-- INICIO -->
                <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline; padding-left: 5%">
                 
                    <label for="start-field" data-bind="text: startLabel"></label>
                    
                    <input id='start-field' data-bind="ojComponent: {
                        component: 'ojInputDate',
                        converter: startConverter,
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 68%; margin-left: 3%;'
                        },
                        value: startValue
                    }">
                    
                </div>
                
                <!-- TERMINO -->
                <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline; padding-left: 10%">
                 
                    <label for="finished-field" data-bind="text: finishedLabel"></label>
                    
                    <input id='finished-field' data-bind="ojComponent: {
                        component: 'ojInputDate',
                        converter: finishedConverter,
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%; margin-left: 3%;'
                        },
                        value: finishedValue
                    }">
                    
                </div> 
            </div>
            
            <!-- ko if: typeValue() === 'Proyecto'  -->
            <!-- ORIGEN DE LOS RECURSOS -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                    
                    <label for="origin-field" data-bind="text: originResourcesLabel"></label>

                    <input id='origin-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: originResourcesPlaceHolder,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: originResourcesValue
                    }">
                    
                </div>
            </div>
            <!-- /ko -->
            
            <!-- CALIFICACIÓN -->
            <fieldset  style="margin-top: 2%">
                
                <legend>
                    
                    <label data-bind="text: qualificationLabel"></label>
                    <span class="oj-label-required-icon"></span>
                    
                </legend> 
                <!-- ROJO -->
                <div class="oj-flex">                  
                    <div class="oj-flex-item">

                        <label for="red-field" class="oj-label" data-bind="text: redLabel"></label>

                        <input id='red-fiel' class="right-align" data-bind="ojComponent: {
                            component: 'ojInputNumber',
                            converter: qualificationConverter,
                            max: 1,
                            min: 0,
                            step: .05,
                            required: true,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 200%;'
                            },
                            value: redValue
                        }">

                    </div>      
                </div>         
                <!-- NARANJA -->
                <div class="oj-flex">                  
                    <div class="oj-flex-item">

                        <label for="orange-field" class="oj-label" data-bind="text: orangeLabel"></label>

                        <input id='orange-fiel' class="right-align" data-bind="ojComponent: {
                            component: 'ojInputNumber',
                            converter: qualificationConverter,
                            max: 1,
                            min: 0,
                            step: .05,
                            required: true,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 100%;'
                            },
                            value: orangeValue
                        }">

                    </div>      
                </div>
                <!-- AMARILLO -->
                <div class="oj-flex">                  
                    <div class="oj-flex-item">

                        <label for="yellow-field" class="oj-label" data-bind="text: yellowLabel"></label>

                        <input id='yellow-fiel' class="right-align" data-bind="ojComponent: {
                            component: 'ojInputNumber',
                            converter: qualificationConverter,
                            max: 1,
                            min: 0,
                            step: .05,
                            required: true,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 100%;'
                            },
                            value: yellowValue
                        }">

                    </div>      
                </div>
                <!-- VERDE -->
                <div class="oj-flex">                  
                    <div class="oj-flex-item">

                        <label for="green-field" class="oj-label" data-bind="text: greenLabel"></label>

                        <input id='green-fiel' class="right-align" data-bind="ojComponent: {
                            component: 'ojInputNumber',
                            converter: qualificationConverter,
                            max: 1,
                            min: 0,
                            step: .05,
                            required: true,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 100%;'
                            },
                            value: greenValue
                        }">

                    </div>      
                </div>

            </fieldset>
              
        </div>     
    </div>
    
    <!-- SECCIÓN ALINEACIÓN -->
    <div id="sectionAlignment-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
 
        <h4 id="section-alignment-poa" data-bind="text: alignmentTitle"></h4>
        
        <div class="oj-form-layout collapsible-content">
            
            <i class="fa fa-plus fa-lg pointer icon-padding"
                
               data-bind=""data-bind="attr: {title: newHint}, style: {opacity: state}, click: newClickHandler">

            </i>
            
            <fieldset>

                <legend>

                    <label data-bind="text: alignmentLabel"></label>
                    <span class="oj-label-required-icon"></span>
                                            
                </legend>
                
                <!-- EJES -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-axes-alignment'data-bind="text: axesLabel"></label>

                        <select id='select-axes-alignment' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: poaAxesOptions,
                            optionChange: poaAxesChange,
                            required: false,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: poaAxesValue
                        }"></select>

                    </div>
                </div>

                <!-- TEMAS -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-topics'data-bind="text: topicsLabel"></label>

                        <select id='select-topics' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: poaTopicsOptions,
                            optionChange: poaTopicsChange,
                            required: false,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: poaTopicsValue
                        }"></select>

                    </div>
                </div>

                <!-- OBJETIVOS -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-objectives'data-bind="text: objectivesLabel"></label>

                        <select id='select-objectives' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: poaObjectivesOptions,
                            optionChange: poaObjectivesChange,
                            required: false,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: poaObjectivesValue
                        }"></select>

                    </div>
                </div>

                <!-- INDICADORES -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for='select-poaIndicators'data-bind="text: indicatorsLabel"></label>

                        <select id='select-poaIndicators' data-bind="ojComponent: {
                            component: 'ojSelect',
                            options: poaIndicatorsOptions,
                            required: false,
                            rootAttributes: {
                              style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: poaIndicatorsValue
                        }"></select>

                    </div>
                </div>
                
                <div class="oj-flex" style="float: right; margin-top: 2%">                  
                    <div class="oj-flex-item">

                        <button id='button' class="right-align" data-bind="ojComponent: {
                            component: 'ojButton',
                            label: buttonLabel,
                            required: false,
                            rootAttributes: {
                                style: 'height: 100% ; max-width: 100%;'
                            }
                        }"></button>

                    </div>      
                </div>
                
            </fieldset>
            
             <!-- TABLA INDICADORES ALINEADOS -->
            <div data-bind="template: {name: 'EditableTable', data: observableAlignedIndicatorsTable}"></div>
            
        </div>
    </div>
    
    <!-- SECCIÓN RESPONSABLE -->
    <div id="sectionResponsable-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
 
        <h4 id="section-responsable-poa" data-bind="text: responsableTitle"></h4>
        
        <div class="oj-form-layout collapsible-content">
            
            <!-- SECRETARÍA -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">

                    <label for='select-secretary'data-bind="text: secretaryLabel"></label>

                    <select id='select-axes' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: secretaryOptions,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                            value: secretaryValue
                        }"></select>

                </div>
            </div>
            
            <!-- DIRECCIÓN -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">

                    <label for='select-direction'data-bind="text: directionLabel"></label>

                    <select id='select-axes' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: directionOptions,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                            value: directionValue
                        }"></select>

                </div>
            </div>
            
            <!-- JEFE DE DEPARTAMENTO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">

                    <label for='select-boss'data-bind="text: bossLabel"></label>

                    <select id='select-boss' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: bossOptions,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                            value: bossValue
                        }"></select>

                </div>
            </div>
            
            <!-- RESPONSABLE -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">

                    <label for='select-responsable'data-bind="text: responsableLabel"></label>

                    <select id='select-responsable' data-bind="ojComponent: {
                        component: 'ojSelect',
                        options: responsableOptions,
                        required: true,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                            value: responsableValue
                        }"></select>

                </div>
            </div>
            
            <!-- CARGO DEL RESPONSABLE -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="position-field" data-bind="text: positionLabel"></label>

                    <input id='position-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: positionPlaceHolder,
                        disabled: true,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: positionValue
                    }">
                </div>
            </div>
            
            <!-- CORREO ELECTRONICO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="email-field" data-bind="text: emailLabel"></label>

                    <input id='email-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: emailPlaceHolder,
                        disabled: true,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: emailValue
                    }">
                </div>
            </div>
            
            <!-- TELÉFONO -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="tel-field" data-bind="text: telLabel"></label>

                    <input id='tel-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: telPlaceHolder,
                        disabled: true,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: telValue
                    }">
                </div>
            </div>
            
            <!-- EXTENSIÓN -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="extension-field" data-bind="text: extensionLabel"></label>

                    <input id='extension-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: extensionPlaceHolder,
                        disabled: true,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: extensionValue
                    }">
                </div>
            </div>
            
            <!-- OBSERVACIONES -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="observations-field" data-bind="text: observationsLabel"></label>

                    <textarea id='objective-field' data-bind="ojComponent: {
                        component: 'ojTextArea',
                        required: false,
                        rootAttributes: {
                            style: 'height: 100% ; max-width: 100%;'
                        },
                        value: observationsValue
                    }"></textarea>
                </div>
            </div>
           
        </div>
    </div>
    
    <!-- ko if: typeValue() === 'Proyecto' -->
    <!-- SECCIÓN METAS Y AVANCES -->
    <div id="sectionGoalsAndProgress-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
        component: 'ojCollapsible',
        expandArea: 'disclosureIcon',
        expanded: false
    }">
 
        <h4 id="section-responsable-poa" data-bind="text: goalsAndProgressTitle"></h4>
        
        <div class="oj-form-layout collapsible-content">
    
            <!-- NOMBRE DEL INDICADOR GENERAL DEL AVANCE -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="indicatorName-field" data-bind="text: indicatorNameLabel"></label>

                    <input id='indicatorName-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: indicatorNamePlaceHolder,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: indicatorNameValue
                    }">
                </div>
            </div>
            
            <!-- RIESGO POTENCIAL -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="potentialRisk-field" data-bind="text: potentialRiskLabel"></label>

                    <input id='potentialRisk-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: potentialRiskPlaceHolder,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: potentialRiskValue
                    }">
                </div>
            </div>
             
            <!-- ACCIONES IMPLEMENTADAS -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="implementedActions-field" data-bind="text: implementedActionsLabel"></label>

                    <input id='implementedActions-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: implementedActionsPlaceHolder,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: implementedActionsValue
                    }">
                </div>
            </div>
            
            <!-- INDICADOR -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="indicatorGoalsAndProgress-field" data-bind="text: indicatorGoalsAndProgressLabel"></label>

                    <input id='indicatorGoalsAndProgress-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: indicatorGoalsAndProgressValue
                    }">
                </div>
            </div>
            
            <!-- UNIDAD DE MEDIDA -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item">
                  
                    <label for="unitOfM-field" data-bind="text: unitOfMLabel"></label>

                    <input id='unitOfM-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 100%;'
                        },
                        value: unitOfMValue
                    }">
                </div>
            </div>
            
            <!-- % AVANCE GENERAL -->
            <div class="oj-flex" style="margin-bottom: 1%">
                <div class="oj-flex-item oj-flex-bar" style="align-items: baseline">
                  
                    <label for="perProgress-field" data-bind="text: perProgressLabel"></label>

                    <input id='perProgress-field' data-bind="ojComponent: {
                        component: 'ojInputText',
                        placeholder: perProgressPlaceHolder,
                        required: false,
                        rootAttributes: {
                            style: 'max-height: 100%; max-width: 20%; margin-left: 2%;'
                        },
                        value: perProgressValue
                    }">
                </div>
            </div>
            
            <!-- TABLA AVANCES Y METAS -->
                <fieldset>
                    <legend>
                        <label data-bind="text: progressLabel"></label>
                        <span class="oj-label-required-icon"></span>
                    </legend>
                    <div class="oj-flex" style="padding-left: 2%">
                        <div class="oj-flex-item oj-table-body-row-edit">
                            <table id="dataTableGoalsAndProgress" class="fa-border"
                                   data-bind="ojComponent: {
                                                component: 'ojTable',
                                                columns: comGoalsColumns,
                                                columnsDefault: {
                                                    sortable: 'disabled',
                                                    headerStyle: 'text-align: center',
                                                    style: 'text-align: center'
                                                },
                                                data: comGoalsDataSource,
                                                display: 'grid',
                                                editMode: 'rowEdit',
                                                rootAttributes: {
                                                    style: 'width: 98%;'
                                                },
                                                rowTemplate: comGoalsRowTemplate
                                            }"></table>
                        </div>
                    </div>
                </fieldset>     
                <!-- GRAFICA -->
                <div id='chartGoalsAndProgress-container' class="oj-margin" style="margin-top: 2%; margin-bottom: 2%">
                        <div id="advance-chart"
                             data-bind="ojComponent: {
                                            animationOnDataChange: 'auto',
                                            animationOnDisplay: 'auto',
                                            component: 'ojChart',
                                            hoverBehavior: 'dim',
                                            groups: comChartGroupsValue,
                                            legend: {
                                                position: 'bottom'
                                            },
                                            rootAttributes: {
                                                'style': 'width: 100%; height: 350px;'  
                                            },    
                                            series: comChartSeriesValue,
                                            type: 'line',
                                            yAxis: comChartYAxis,
                                            y2Axis: comChartY2Axis
                                        }"></div>
                </div>
            
        </div>
    </div>
    <!-- /ko -->
    
    <!-- ko if: typeValue() === 'Proceso' -->   
    <!-- SECCIÓN COMPONENTES -->
    <div id="sectionComponent-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
            component: 'ojCollapsible',
            expandArea: 'disclosureIcon',
            expanded: false
    }">
 
        <h4 id="section-component-poa" data-bind="text: componentsTitle"></h4>
        <div class="oj-form-layout collapsible-content">
            <i class="fa fa-plus fa-lg pointer icon-padding"
               data-bind=""data-bind="attr: {title: newHint}, style: {opacity: state}, click: newClickHandler">
            </i>
            <fieldset>
                <legend>
                    <label data-bind="text: componentsLabel"></label>
                    <span class="oj-label-required-icon"></span>
                </legend>
                
                <!-- NOMBRE -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for="nameComponent-field" data-bind="text: componentName"></label>

                        <input id='nameComponent-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: true,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: componentNameValue
                        }">
                    </div>
                </div>

                <!-- DESCRIPCIÓN -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for="description-field" data-bind="text: description"></label>

                        <textarea id='description-field' data-bind="ojComponent: {
                            component: 'ojTextArea',
                            required: false,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: descriptionValue
                        }"></textarea>
                    </div>
                </div>
                  
                <!-- INDICADOR -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for="indicator-field" data-bind="text: indicator"></label>

                        <input id='indicator-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: true,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: indicatorValue
                        }">
                    </div>
                </div>
                
                <!-- UNIDAD DE MEDIDA -->
                <div class="oj-flex" style="margin-bottom: 2%">
                    <div class="oj-flex-item">
                        <label for="unit-field" data-bind="text: unit"></label>
                        <input id='unit-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: false,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: unitValue
                        }">
                    </div>
                </div>
                <div class="oj-flex oj-flex-bar oj-flex-items-pad" style="margin-bottom: 1%">                  
                    <!-- VALOR INICIAL -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: baseline">
                        <label for="initial-field" data-bind="text: initial"></label>
                        <input id='initial-field'  class="centered"
                               data-bind="ojComponent: {
                                            component: 'ojInputText',
                                            required: false,
                                            rootAttributes: {
                                                style: 'height: 100% ; max-width: 45%; margin-left: 3%;'
                                            },
                                            value: initialValue
                                        }">
                    </div>

                    <!-- META FINAL -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" 
                         style="align-items: baseline; padding-left: 5%">
                        <label for="finishLine-field" data-bind="text: finalGoal"></label>
                        <input id='finishLine-field' 
                               data-bind="ojComponent: {
                                            component: 'ojInputText',
                                            required: false,
                                            rootAttributes: {
                                                style: 'height: 100% ; max-width: 68%; margin-left: 3%;'
                                            },
                                                value: finalGoalValue
                                        }">
                    </div>

                    <!-- AVANCE GENERAL -->
                    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-bar" style="align-items: center; padding-left: 10%">
                        <label for="generalAdvance-field" data-bind="text: generalAdvance"></label>
                            <input id="generalAdvance-field" 
                                   data-bind="ojComponent: {
                                                component: 'ojInputText',
                                                converter: converterGeneralAdvance,
                                                required: false,
                                                rootAttributes: {
                                                    style: 'height: 100% ; max-width: 100%; margin-left: 3%;'
                                                },
                                                value: generalAdvanceValue
                                            }">
                    </div>
                </div>
                
                <!-- RESPONSABLE COMPONENTE -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">
                        <label for="select-responsableComponent" 
                               data-bind="text: responsableComponents"></label>
                        <select id="select-responsableComponent"
                                data-bind="ojComponent: {
                                            component: 'ojSelect',
                                            options: responsableComponentsOptions,
                                            required: true,
                                            rootAttributes: {
                                              style: 'max-height: 100%; max-width: 100%;'
                                            },
                                            value: responsableComponentsValue
                                        }"></select>
                    </div>
                </div>
                
                <!-- JUSTIFICACIÓN -->
                <div class="oj-flex" style="margin-bottom: 2%">
                    <div class="oj-flex-item">
                        <label for="justification-field"
                               data-bind="text: justification"></label>
                        <textarea id="justification-field"
                                  data-bind="ojComponent: {
                                                component: 'ojTextArea',
                                                required: false, 
                                                rootAttributes: {
                                                    style: 'max-height: 100%; max-width: 100%;'
                                                },
                                                value: justificationValue
                                            }"></textarea>
                    </div>   
                </div>
                <!-- TABLA AVANCES Y METAS -->
                <fieldset>
                    <legend>
                        <label data-bind="text: progressLabel"></label>
                        <span class="oj-label-required-icon"></span>
                    </legend>
                    <div class="oj-flex" style="padding-left: 2%">
                        <div class="oj-flex-item oj-table-body-row-edit">
                            <table id="dataTable" class="fa-border"
                                   data-bind="ojComponent: {
                                                component: 'ojTable',
                                                columns: comGoalsColumns,
                                                columnsDefault: {
                                                    sortable: 'disabled',
                                                    headerStyle: 'text-align: center',
                                                    style: 'text-align: center'
                                                },
                                                data: comGoalsDataSource,
                                                display: 'grid',
                                                editMode: 'rowEdit',
                                                rootAttributes: {
                                                    style: 'width: 98%;'
                                                },
                                                rowTemplate: comGoalsRowTemplate
                                            }"></table>
                        </div>
                    </div>
                </fieldset>     
                <!-- GRAFICA -->
                <div id='chart-container' class="oj-margin" style="margin-top: 2%; margin-bottom: 2%">
                        <div id="advance-chart"
                             data-bind="ojComponent: {
                                            animationOnDataChange: 'auto',
                                            animationOnDisplay: 'auto',
                                            component: 'ojChart',
                                            hoverBehavior: 'dim',
                                            groups: comChartGroupsValue,
                                            legend: {
                                                position: 'bottom'
                                            },
                                            rootAttributes: {
                                                'style': 'width: 100%; height: 350px;'  
                                            },    
                                            series: comChartSeriesValue,
                                            type: 'line',
                                            yAxis: comChartYAxis,
                                            y2Axis: comChartY2Axis
                                        }"></div>
                </div>
            </fieldset>
            
            <!-- TABLA COMPONENTES -->
                <div data-bind="template: {name: 'EditableTable', data: observableComponentsTable}"></div>
        </div>
    </div>
    <!-- /ko -->
        
    <!-- ko if: typeValue() === 'Proyecto' -->    
    <!-- SECCIÓN COMPONENTES -->
    <div id="sectionComponent-collapsible" class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
            component: 'ojCollapsible',
            expandArea: 'disclosureIcon',
            expanded: false
    }">
 
        <h4 id="section-component-poa" data-bind="text: componentsTitle"></h4>  
        <div class="oj-form-layout collapsible-content">
            <i class="fa fa-plus fa-lg pointer icon-padding"
               data-bind=""data-bind="attr: {title: newHint}, style: {opacity: state}, click: newClickHandler">
            </i>
            <fieldset>
                <legend>
                    <label data-bind="text: componentsLabel"></label>
                    <span class="oj-label-required-icon"></span>
                </legend>
                
                <!-- NOMBRE -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">

                        <label for="nameComponent-field" data-bind="text: componentName"></label>

                        <input id='nameComponent-field' data-bind="ojComponent: {
                            component: 'ojInputText',
                            required: true,
                            rootAttributes: {
                                style: 'max-height: 100%; max-width: 100%;'
                            },
                            value: componentNameValue
                        }">
                    </div>
                </div>

                 <!-- RESPONSABLE COMPONENTE -->
                <div class="oj-flex" style="margin-bottom: 1%">
                    <div class="oj-flex-item">
                        <label for="select-responsableComponent" 
                        data-bind="text: responsableComponents"></label>
                        <select id="select-responsableComponent"
                        data-bind="ojComponent: {
                                    component: 'ojSelect',
                                    options: responsableComponentsOptions,
                                    required: true,
                                    rootAttributes: {
                                      style: 'max-height: 100%; max-width: 100%;'
                                    },
                                    value: responsableComponentsValue
                        }"></select>
                    </div>
                </div>
                
                <!-- JUSTIFICACIÓN -->
                <div class="oj-flex" style="margin-bottom: 2%">
                    <div class="oj-flex-item">
                        <label for="justification-field"
                        data-bind="text: justification"></label>
                        <textarea id="justification-field"
                        data-bind="ojComponent: {
                                    component: 'ojTextArea',
                                    required: false, 
                                    rootAttributes: {
                                        style: 'max-height: 100%; max-width: 100%;'
                                    },
                                    value: justificationValue
                                }"></textarea>
                    </div>   
                </div>             
            </fieldset>
    </div>
</div>
     <!-- /ko -->

<!-- Components Goals and Progress row template -->
<script type="text/html" id="comGoalsRowTemplate">
    <tr>
        <td data-bind="text: Mes"></td>
        <td data-bind="text: Ene"></td>
        <td data-bind="text: Feb"></td>
        <td data-bind="text: Mar"></td>
        <td data-bind="text: Abr"></td>
        <td data-bind="text: May"></td>
        <td data-bind="text: Jun"></td>
        <td data-bind="text: Jul"></td>
        <td data-bind="text: Ago"></td>
        <td data-bind="text: Sep"></td>
        <td data-bind="text: Oct"></td>
        <td data-bind="text: Nov"></td>
        <td data-bind="text: Dic"></td>
    </tr>
</script>

<!-- Components Goals and Progress Edit row template -->
<script type="text/html" id="comGoalsEditRowTemplate">
    <tr>
        <td data-bind="text: Mes"></td>

        <!-- ko if: Mes == "% Avance" -->
        <td data-bind="text: Ene"></td>
        <td data-bind="text: Feb"></td>
        <td data-bind="text: Mar"></td>
        <td data-bind="text: Abr"></td>
        <td data-bind="text: May"></td>
        <td data-bind="text: Jun"></td>
        <td data-bind="text: Jul"></td>
        <td data-bind="text: Ago"></td>
        <td data-bind="text: Sep"></td>
        <td data-bind="text: Oct"></td>
        <td data-bind="text: Nov"></td>
        <td data-bind="text: Dic"></td>
        <!-- /ko -->

        <!-- ko ifnot: Mes == "% Avance" -->
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Ene
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Feb
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Mar
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Abr
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: May
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Jun
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Jul
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Ago
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Sep
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Oct
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Nov
            }">
        </td>
        <td>
            <input data-bind="ojComponent: {
                component: 'ojInputText',
                optionChange: $parent.comGoalsOptionChange,
                value: Dic
            }">
        </td>
        <!-- /ko -->
    </tr>
</script>