<!DOCTYPE html>
<!--<div class="appheader-logo">-->
<div class="oj-flex oj-sm-12">
    <!--<div class="appheader-logo-block oj-flex-item oj-sm-8">-->
    <div class="oj-flex-item oj-sm-3">
        <!--<span role="img" class="oj-icon appheader-logo-oracle" title="Logo" alt="Logo"></span>-->  
        <img src="css/images/utj-logo.png" height="60px" title="Logo" alt="Logo"/>
<!--        <div style="width:350px;height:60px;border-style: dashed;text-align: center">
            YOUR</BR>LOGO</BR>HERE</BR>
        </div>-->
    </div>
    <!--<div class="appheader-appname-block">-->
    <div class="oj-flex-item oj-sm-6 oj-sm-align-self-center">
        <div class="oj-flex oj-sm-justify-content-center">
            <!--<span class="appheader-appname" data-bind="text: $parent.appTitle"></span>-->
            <span class="app-title" data-bind="text: $parent.appTitle"></span>
        </div>
    </div>
    <div class="oj-flex-item oj-sm-3 oj-sm-align-self-center">
        <div class="oj-flex oj-sm-justify-content-space-around">
            <img class="circle" data-bind="attr: {src: $parent.userImage}" width="24px" height="24px"/>
            <label data-bind="text: $parent.userNickname"></label>
            <i data-bind="
                click: $parent.sessionHandler, 
                attr:{title: $parent.altText},
                css: $parent.signIcon
               ">
            </i>
        </div>
    </div>
</div>