<div id="personal-info-form-container">
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-6">  
            <div class="oj-flex"> 
                <div class="oj-flex-item">
                    <label  for="area">Area</label>
                </div>
                <div class="oj-flex-item">
                    <input id="area" list="secretariats" 
                           data-bind="
                                ojComponent: {
                                    component: 'ojCombobox', 
                                    value: 'academic',
                                    rootAttributes: {
                                        style:'max-width: 100%'
                                    }
                                }"/>
                    <datalist id="secretariats">
                        <option value="dean">Rectoría</option>
                        <option value="academic">Academica</option>
                        <option value="administrative">Administrativa</option>
                        <option value="link-up">Vinculación</option>
                    </datalist>
                </div>
            </div>
            <div class="oj-flex">  
                <div class="oj-flex-item">
                    <label for="subArea">Sub-Area</label>
                </div>
                <div class="oj-flex-item">
                    <input id="subArea" list="subArea-types" data-bind="
                            ojComponent: {
                                component: 'ojCombobox', 
                                value: 'career',
                                rootAttributes: {
                                    style:'max-width: 100%;'
                                }
                            }"/>
                    <datalist id="subArea-types">
                        <option value="planning">Planeación</option>
                        <option value="career">Carrera...</option>
                        <option value="services">Servicios Estudiantiles</option>
                    </datalist>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="position">Cargo</label>
                </div>
                <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <input id="position" list="position-types" data-bind="
                            ojComponent: {
                                component: 'ojCombobox', 
                                value: 'assistant',
                                rootAttributes: {
                                    style:'max-width: 100%;'
                                }
                            }"/>
                            <datalist id="position-types">
                                <option value="secretary">Secretario(a)</option>
                                <option value="director">Director(a)</option>
                                <option value="assistant">Asistente</option>
                                <option value="departmentChief">Jefe(a) de Departamento</option>
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oj-flex">  
                <div class="oj-flex-item">
                    <label for="manager">Superior Inmediato</label>
                </div>
                <div class="oj-flex-item">
                    <input id="manager" list="manager-list" data-bind="
                            ojComponent: {
                                component: 'ojCombobox', 
                                value: 'manager1',
                                rootAttributes: {
                                    style:'max-width: 100%;'
                                }
                            }"/>
                    <datalist id="manager-list">
                        <option value="manager1">Manager1</option>
                        <option value="manager2">Manager2</option>
                    </datalist>
                </div>
            </div>
            <div class="oj-flex">  
                <div class="oj-flex-item">
                    <label for="utjEmail">Correo Electrónico UTJ</label>
                </div>
                <div class="oj-flex-item">
                    <div class="oj-flex-item">
                        <div class="oj-flex-item">
                            <input id="utjEmail" data-bind="
                                ojComponent: {
                                    component: 'ojInputText', 
                                    placeholder:'nombre@utj.edu.mx',
                                    rootAttributes: {
                                        style:'max-width: 100%;'
                                    }
                                }"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oj-flex"> 
                <div class="oj-flex-item">
                    <label for="phoneNumberUTJ">Teléfono UTJ</label>
                </div>
                <div class="oj-flex-item">
                    <input id="phoneNumberUTJ" data-bind="
                        ojComponent: {
                            component: 'ojInputText', 
                            placeholder:'33...',
                            rootAttributes: {
                                style:'max-width: 100%;'
                            }
                        }">
                </div>
            </div>
            <div class="oj-flex"> 
                <div class="oj-flex-item">
                    <label for="ext">Extensión</label>
                </div>
                <div class="oj-flex-item">
                    <input id="ext" data-bind="
                        ojComponent: {
                            component: 'ojInputText', 
                            placeholder:'(1234)',
                            rootAttributes: {
                                style:'max-width: 100%;'
                            }
                        }">
                </div>
            </div>
            <div class="oj-flex">  
                <div class="oj-flex-item">
                    <label for="startDate">Fecha de ingreso</label>
                </div>
                <div class="oj-flex-item">
                    <input id="startDate" data-bind="
                            ojComponent: {
                                component: 'ojInputDate', 
                                value: $parent.startDate,
                                rootAttributes: {
                                    style:'max-width: 100%;'
                                }
                            }"/>
                </div>
            </div>
        </div>    
    </div>
</div>