<div id="control-panel" class="container column">
<!--    <div id="pide-switch-view-button-set-container">
        <div id="pide-switch-view-button-set" 
             data-bind=" attr:{'aria-label': switchButtonAriaLabel},
                            ojComponent: {
                                component: 'ojButtonset',
                                checked: 'satisfaction',
                                optionChange: optionChangeHandler
                            }">
            <label data-bind="attr: {for: 'satisfaction-switch-button'}">
                <i class="fa fa-2x fa-pie-chart fa-align-center"></i>
            </label>
            <input type="radio" name="switch" value="satisfaction" id="satisfaction-switch-button"/>
            <label data-bind="attr: {for: 'indicators-switch-button'}">
                <i class="fa fa-2x fa-bar-chart fa-align-center"></i>
            </label>
            <input type="radio" name="switch" value="indicators" id="indicators-switch-button"/>
        </div>
    </div>-->
    <div id="pide-submodule-container" class="container" data-bind="ojModule: pideModule"></div>
</div>