<fieldset class="strech" data-bind="css: {'edit-on': editing}">
    <legend class="left-align">
        <span data-bind="css: {'display-none': displayGraphicNameInputText}">
            <label class="pointer" data-bind="text: graphicName, click: graphicNameLabelClickHandler"></label>
        </span>
        <span data-bind=" css: {'display-none': !displayGraphicNameInputText()}">
            <input type="text"
                    data-bind=" ojComponent: {
                                    component: 'ojInputText', 
                                    value: graphicName,
                                    optionChange: graphicNameClickHandler
                                }"/>
        </span>
    </legend>
    <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between oj-sm-12">
        <div class="oj-flex-item">
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-align-self-center">
                            <label data-bind="attr: {for: 'from-' + graphicId}">Desde</label>
                        </div>
                        <div class="oj-flex-item">
                            <input data-bind="  attr:{id: 'from-' + graphicId},
                                                ojComponent: {
                                                    component: 'ojInputDate', 
                                                    datePicker: {
                                                        footerLayout: '', 
                                                        showOn: 'focus'
                                                    },
                                                    min: minDate,
                                                    max: maxDate,
                                                    value: fromDateValue
                                                }"/>
                        </div>
                    </div>
                </div>
                <div class="oj-flex-item">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-align-self-center">
                            <label data-bind="attr: {for: 'to-' + graphicId}">Hasta</label>
                        </div>
                        <div class="oj-flex-item">
                            <input class="oj-flex-item" 
                                   data-bind="  attr:{id: 'to' + graphicId},
                                                ojComponent: {
                                                    component: 'ojInputDate', 
                                                    datePicker: {
                                                        footerLayout: '', 
                                                        showOn: 'focus'
                                                    },
                                                    min: minDate,
                                                    max: maxDate,
                                                    value: toDateValue
                                                }"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oj-flex-item">
            <button data-bind=" attr:{id: 'menu-button-' + graphicId},
                                ojComponent: {
                                    component: 'ojButton',
                                    menu: '#' + graphicMenuId,
                                    icons: {
                                        start: 'fa fa-lg fa-gear'
                                    }
                                }">
            </button>
            <ul style="display:none"
                data-bind=" attr:{id: graphicMenuId},
                            ojComponent: {
                                component: 'ojMenu',
                                select: graphicTypeSelectHandler
                            }">
                <li id="lineChart">
                    <a href="#"><span class="fa fa-lg fa-line-chart"></span></a>
                </li>
                <li id="barChart">
                    <a href="#"><span class="fa fa-lg fa-bar-chart"></span></a>
                </li>
                <li id="download">
                    <a href="#"><span class="fa fa-lg fa-download"></span></a>
                </li>
            </ul>
            <span class="fa-stack fa-lg">
                <i class="fa fa-pencil fa-stack-1x  pointer"
                   data-bind="click: startEditHandler"></i>
                <i class="fa fa-ban fa-stack-2x fa-rotate-90 pointer lightred"
                   data-bind="visible: editing, click: stopEditHandler"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-clone fa-stack-1x pointer"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-trash fa-stack-1x pointer" data-bind="click: trashClickHandler"></i>
            </span>
        </div>
    </div>
    <div class="oj-flex oj-sm-justify-content-center">
        <div data-bind="ojComponent: {
                            component: 'ojCheckboxset',
                            value: graphicOptions,
                            optionChange: graphicOptionsHandler
                        }" 
             aria-labelledby="mainlabelid" class='oj-choice-direction-row'>
            <span class="oj-choice-item">
                <input type="checkbox" value="progress"
                        data-bind=" attr:{id: 'progress-' + graphicId}">
                <label data-bind="attr:{for: 'progress-' + graphicId}">Avances</label>
            </span>
            <span class="oj-choice-item">
                <input type="checkbox" value="goals"
                        data-bind=" attr:{id: 'goals-' + graphicId}">
                <label data-bind="attr:{for: 'goals-' + graphicId}">Metas</label>
            </span>
        </div>
    </div>
    <div class="oj-flex-bar">
        <div class="full-height oj-flex-bar-middle"
             data-bind="attr: {id: graphicId},
                        ojComponent: {
                            component: 'ojChart', 
                            type: chartType,
                            series: seriesValues, 
                            groups: groupsValues, 
                            animationOnDisplay: 'auto',
                            animationOnDataChange: 'auto',
                            hoverBehavior: 'dim',
                            hideAndShowBehavior: 'withoutRescale',
                            yAxis: yAxis,
                            y2Axis: y2Axis,
                            legend: {
                                position: 'bottom',
                                titleHAlign: 'center'
                            },
                            valueFormats: {
                                series: {tooltipLabel: 'Indicador:'}, 
                                group: {tooltipLabel: 'Año:'}, 
                                y: {tooltipLabel: 'Valor:'}
                            },
                            zoomAndScroll: zoom
                        }">
        </div>
        <div class="oj-flex-bar-end">
            <i class="fa fa-lg oj-sm-align-self-center pointer"
                data-bind="click: zoomClickHandler, css: zoomIconClass">
            </i>
        </div>
    </div>
</fieldset>