<fieldset class="container column" data-bind="css: {'edit-on': editing}">
  <legend class="item-stretch left-align">
    <span data-bind="css: {'display-none': displayGraphicNameInputText}">
      <label class="pointer" data-bind="text: graphicName, click: graphicNameLabelClickHandler"></label>
    </span>
    <span data-bind=" css: {'display-none': !displayGraphicNameInputText()}">
      <input type="text"
             data-bind=" ojComponent: {
                            component: 'ojInputText', 
                            value: graphicName,
                            optionChange: graphicNameClickHandler
                        }"/>
    </span>
  </legend>
  <div class="container column">
    <div>
      <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between oj-sm-12">
        <div class="oj-flex-item">
          <div class="oj-flex">
            <div class="oj-flex-item">
              <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-align-self-center">
                  <label data-bind="attr: {for: 'from-' + graphicId}, text: fromLabel"></label>
                </div>
                <div class="oj-flex-item">
                  <input data-bind="  attr:{id: 'from-' + graphicId},
                                    ojComponent: {
                                      component: 'ojInputDate',
                                      converter: dateConverter,
                                      datePicker: {
                                        footerLayout: '', 
                                        showOn: 'focus'
                                      },
                                      displayOptions: {validatorHint: 'none'},
                                      max: maxDate,
                                      min: minDate,
                                      optionChange: dateSelectionHandler,
                                      required: true,
                                      rootAttributes: {
                                        style: 'min-width: 7em; max-width: 7em;'
                                      },
                                      translations: {
                                        'dateTimeRange': {
                                          messageSummary: {
                                            rangeOverflow: rangeOverflowSummary,
                                            rangeUnderflow: rangeUnderflowSummary
                                          }, 
                                          messageDetail: {
                                            rangeOverflow: rangeOverflowDetail,
                                            rangeUnderflow: rangeUnderflowDetail
                                          }
                                        }
                                      },
                                      validators: [fromValidator],
                                      value: fromDateValue
                                    }"/>
                </div>
              </div>
            </div>
            <div class="oj-flex-item">
              <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-align-self-center">
                  <label data-bind="attr: {for: 'to-' + graphicId}, text: toLabel"></label>
                </div>
                <div class="oj-flex-item">
                  <input class="oj-flex-item" 
                         data-bind="  attr:{id: 'to-' + graphicId},
                                      ojComponent: {
                                        component: 'ojInputDate',
                                        converter: dateConverter,
                                        datePicker: {
                                          footerLayout: '', 
                                          showOn: 'focus'
                                        },
                                        displayOptions: {validatorHint: 'none'},
                                        min: minDate,
                                        optionChange: dateSelectionHandler,
                                        required: true,
                                        rootAttributes: {
                                          style: 'min-width: 7em; max-width: 7em;'
                                        },
                                        translations: {
                                          'dateTimeRange': {
                                            messageSummary: {
                                              rangeOverflow: rangeOverflowSummary,
                                              rangeUnderflow: rangeUnderflowSummary
                                            }, 
                                            messageDetail: {
                                              rangeOverflow: rangeOverflowDetail,
                                              rangeUnderflow: rangeUnderflowDetail
                                            }
                                          }
                                        },
                                        validators: [toValidator],
                                        value: toDateValue
                                      }"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="oj-flex-item">
          <div    data-bind=" attr: {id: graphicId + '-graphic-set'},
                              ojComponent: {
                                component: 'ojButtonset',
                                optionChange: graphicTypeSelectHandler,
                                checked: chartType
                              }"
                  aria-label="Selecciona el tipo de gráfica">
            <label data-bind="attr: {for: graphicId + '-barChart'}"></label>                               
            <input type="radio" 
                   data-bind=" value: 'combo',
                                attr: {
                                  id: graphicId + '-barChart',
                                  name: graphicId + '-graphic-type'
                                }, 
                                ojComponent: {
                                  component: 'ojButton',
                                  display: 'icons',
                                  icons: {
                                    start: 'fa fa-lg fa-bar-chart'
                                  }
                                }"/>
            <label data-bind="attr: {for: graphicId + '-lineChart'}"></label>                               
            <input type="radio" 
                   data-bind=" value: 'line',
                                attr: {
                                  id: graphicId +'-lineChart',
                                  name: graphicId + '-graphic-type'
                                }, 
                                ojComponent: {
                                  component: 'ojButton',
                                  display: 'icons',
                                  icons: {
                                    start: 'fa fa-lg fa-line-chart'
                                  }
                                }"/>
          </div>
        </div>
        <div class="oj-flex-item">
          <button data-bind=" attr:{id: 'menu-button-' + graphicId},
                              ojComponent: {
                                  component: 'ojButton',
                                  display: 'icons',
                                  menu: '#' + graphicMenuId,
                                  icons: {
                                    start: 'fa fa-lg fa-cog'
                                  }

                              }">
          </button>
          <ul style="display:none"
              data-bind=" attr:{id: graphicMenuId},
                          ojComponent: {
                              component: 'ojMenu'
                          }">
            <!-- ko if: isEditable() -->
            <li data-bind="attr: {id: graphicMenuId + '-edit'}">
              <a href="#" class="pointer">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-pencil fa-stack-1x"
                     data-bind="click: startEditHandler"></i>
                  <i class="fa fa-ban fa-stack-2x fa-rotate-90 lightred"
                     data-bind="visible: editing, click: stopEditHandler"></i>
                </span>
              </a>
            </li>
            <!-- /ko -->
            <!-- ko if: isClonable() -->
            <li data-bind="attr: {id: graphicMenuId + '-clone'}">
              <a href="#" class="pointer">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-clone fa-stack-1x" data-bind="click: cloneClickHandler"></i>
                </span>
              </a>
            </li>
            <!-- /ko -->
            <!-- ko if: isRemovable() -->
            <li data-bind="attr: {id: graphicMenuId + '-delete'}">
              <a href="#" class="pointer">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-trash fa-stack-1x" data-bind="click: trashClickHandler"></i>
                </span>
              </a>
            </li>
            <!-- /ko -->
            <li data-bind="attr: {id: graphicMenuId + '-download'}">
              <a href="#" class="pointer">
                <span class="fa fa-stack fa-lg">
                  <i class="fa fa-download fa-stack-1x" data-bind="click: downloadClickHandler"></i>
                  <form data-bind="attr: { action: exportURL, id: exportFormId }" method="POST">
                    <input type="hidden" name="data" data-bind="value: exportData">
                  </form>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>̧̧
    </div>
    <div>
      <div class="oj-flex oj-sm-justify-content-center">
        <div data-bind="ojComponent: {
                          component: 'ojCheckboxset',
                          value: graphicOptions,
                          optionChange: graphicOptionsHandler
                        }" 
             aria-labelledby="mainlabelid" class='oj-choice-direction-row'>
          <span class="oj-choice-item">
            <input type="checkbox" value="progress"
                   data-bind=" attr:{id: 'progress-' + graphicId}">
            <label data-bind="attr:{for: 'progress-' + graphicId}, text: progressLabel"></label>
          </span>
          <span class="oj-choice-item">
            <input type="checkbox" value="goal"
                   data-bind=" attr:{id: 'goal-' + graphicId}">
            <label data-bind="attr:{for: 'goal-' + graphicId}, text: goalsLabel"></label>
          </span>
        </div>
      </div>
    </div>
    <div class="container oj-flex-bar">
      <div class="container oj-flex-bar-middle"
           data-bind="attr: {id: graphicId},
                      ojComponent: {
                        animationOnDisplay: 'auto',
                        animationOnDataChange: 'auto',
                        component: 'ojChart',
                        groups: groupsValues,
                        hideAndShowBehavior: 'withoutRescale',
                        hoverBehavior: 'dim',
                        legend: {
                          position: 'bottom',
                          titleHAlign: 'center'
                        },
                        series: seriesValues,
                        timeAxisType: xAxisType,
                        type: chartType,
                        valueFormats: {
                          series: {tooltipLabel: 'Indicador:'}, 
                          group: {tooltipLabel: 'Fecha:'}, 
                          y: {tooltipLabel: 'Valor:'}
                        },
                        xAxis: xAxis,
                        yAxis: yAxis,
                        y2Axis: y2Axis,
                        zoomAndScroll: zoom
                      }">
      </div>
      <div class="oj-flex-bar-end">
        <i class="fa fa-lg oj-sm-align-self-center pointer"
           data-bind="click: zoomClickHandler, css: zoomIconClass">
        </i>
      </div>
    </div>
  </div>
</fieldset>