<div id="control-panel" class="container column">
    <div class="container column oj-flex-item oj-sm-12">

        <!-- Encabezado de página -->
        <div class="oj-panel">
            <div class="section-title">
                <h1>Ficha de indicador PIDE</h1>
            </div>
        </div>

        <hr/>

        <!-- Información general -->
        <div id="form-container" class="oj-panel">

            <!-- Encabezado de la sección -->
            <h2 class="oj-header-border">Información general</h2>

            <!-- Formulario -->
            <div class="oj-form-layout">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline
                     oj-form-cols-labels-inline oj-form-cols-max2">

                    <!-- Nombre del indicador -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="nombreIndicador">
                                <strong>Nombre del indicador</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="nombreIndicador" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: nombreIndicador}">
                        </div>
                    </div>

                    <!-- Clave -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="clave">
                                <strong>Clave</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="clave" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: clave}">
                        </div>
                    </div>

                    <!-- Eje -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="eje">
                                <strong>Eje</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="eje" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: eje}">
                        </div>
                    </div>

                    <!-- Tema -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="tema">
                                <strong>Tema</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="tema" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: tema}">
                        </div>
                    </div>

                    <!-- Objetivo -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="objetivo">
                                <strong>Objetivo</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="objetivo" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: objetivo}">
                        </div>
                    </div>

                    <!-- Área responsable -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="areaResponsable">
                                <strong>Área responsable</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="areaResponsable" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: areaResponsable}">
                        </div>
                    </div>

                    <!-- Persona responsable -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="personaResponsable">
                                <strong>Persona responsable</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="personaResponsable" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: personaResponsable}">
                        </div>
                    </div>

                    <!-- Teléfono -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="telefono">
                                <strong>Teléfono</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="telefono" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: telefono}">
                        </div>
                    </div>

                    <!-- Extensión -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="extension">
                                <strong>Extensión</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="extension" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: extension}">
                        </div>
                    </div>

                    <!-- Descripción -->
                    <div class="oj-flex"> 
                        <div class="oj-flex-item">
                            <label for="descripcion">
                                <strong>Descripción</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="descripcion" readonly data-bind="ojComponent: {
                            component: 'ojInputText', value: descripcion}">
                        </div>
                    </div>

                    <!-- Unidad de medida -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="unidadMedida">
                                <strong>Unidad de medida</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="unidadMedida" readonly data-bind="ojComponent: {
                                component: 'ojInputText', value: unidadMedida}">
                        </div>
                    </div>

                    <!-- Fuente -->
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="fuente">
                                <strong>Fuente</strong>
                            </label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="fuente" readonly data-bind="ojComponent: {
                                component: 'ojInputText',  value: fuente}">
                        </div>
                    </div>
                </div>    
            </div>
        </div>

        <hr>

        <!-- Avances y metas -->
        <div class="oj-panel">

            <!-- Encabezado de la sección -->
            <h2 class="oj-header-border">Avances y metas</h2>

            <div id='chart-container'>

                <div id="lineChart" style="width:100%; height:350px;"
                     data-bind="ojComponent: {
                                component: 'ojChart', 
                                type: 'line',
                                series: chart.lineSeriesValue,
                                groups: chart.lineGroupsValue, 
                                animationOnDisplay: 'auto',
                                animationOnDataChange: 'auto',
                                orientation: chart.orientationValue,
                                hoverBehavior: 'dim'
                            }">
                </div>
            </div>
        </div>

        <hr>

        <!-- Alineación POA -->
        <div class="oj-panel">

            <!-- Encabezado de la sección -->
            <h2 class="oj-header-border">Alineación POA</h2>

        </div>
    </div>
</div>