<!-- ko if: $data -->
<div class="full-height full-width">
    
        <!-- Encabezado de página -->
        <div class="section-title" data-bind="text: title"></div>
        <hr/>
    
        <!-- Contenido de la página -->
        <div class="oj-web-applayout-content oj-panel">
            <!-- Información general -->
            <div class="form-container oj-accordion-collapsible" data-bind="ojComponent: {
                component: 'ojCollapsible',
                expandArea: 'disclosureIcon',
                expanded: true
            }">
                <!-- Encabezado de sección -->
                <h4 id="strategic-vision" data-bind="text: generalInfo"></h4>
    
                <!-- Contenido del colapsable -->
                <div class="oj-form-layout">
                    <fieldset>
                        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline oj-form-cols-labels-inline oj-form-cols-max2">
    
                            <!-- Nombre del indicador -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="nombreIndicador">
                                        <b data-bind="text: nameLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="nombreIndicador" data-bind="ojComponent: {
                                        component: 'ojInputText',
                                        value: name,
                                        rootAttributes: {
                                            style: 'max-height: 100%;max-width: 100%;'
                                        }
                                    }" readonly>
                                </div>
                            </div>
    
                            <!-- Clave -->
<!--                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="clave">
                                        <b>Clave</b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="clave" data-bind="ojComponent: {
                                        component: 'ojInputText',
                                        value: clave
                                    }" readonly>
                                </div>
                            </div>-->
    
                            <!-- Eje -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="eje">
                                        <b data-bind="text: axeLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="eje" data-bind="ojComponent: {
                                        component: 'ojInputText', 
                                        value: axeValue
                                    }" readonly>
                                </div>
                            </div>
    
                            <!-- Objetivo -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="objetivo">
                                        <b data-bind="text: objectiveLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="objetivo" data-bind="ojComponent: {
                                        component: 'ojInputText',
                                        value: objectiveValue,
                                        rootAttributes: {
                                            style: 'max-width: 100%;'
                                        }
                                    }" readonly>
                                </div>
                            </div>
    
                            <!-- Área responsable -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="areaResponsable">
                                        <b data-bind="text: areaLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="areaResponsable" data-bind="ojComponent: {
                                        component: 'ojInputText',  
                                        value: areaValue
                                    }" readonly>
                                </div>
                            </div>
    
                            <!-- Persona responsable -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="personaResponsable">
                                        <b data-bind="text: responsibleLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="personaResponsable" data-bind="ojComponent: {
                                        component: 'ojInputText', 
                                        value: responsibleValue
                                    }" readonly>
                                </div>
                            </div>
    
                            <!-- Teléfono -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="telefono">
                                        <b data-bind="text: phoneLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="telefono" data-bind="ojComponent: {
                                        component: 'ojInputText',
                                        value: phoneValue
                                    }" readonly>
                                </div>
                            </div>
    
                            <!-- Descripción -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="descripcion">
                                        <b data-bind="text: descriptionLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="descripcion" data-bind="ojComponent: {
                                        component: 'ojInputText',
                                        value: descriptionValue
                                    }" readonly>
                                </div>
                            </div>
    
                            <!-- Unidad de medida -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="unidadMedida">
                                        <b data-bind="text: measureUnitLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="unidadMedida" data-bind="ojComponent: {
                                        component: 'ojInputText', 
                                        value: measureUnitValue
                                    }" readonly>
                                </div>
                            </div>
    
                            <!-- Fuente -->
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="source">
                                        <b data-bind="text: sourceLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="source" data-bind="ojComponent: {
                                        component: 'ojInputText',
                                        value: sourceValue
                                    }" readonly>
                                </div>
                            </div>
                            
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="potencial-risk">
                                        <b data-bind="text: potentialRiskLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="potencial-risk" data-bind="ojComponent: {
                                        component: 'ojInputText',
                                        value: potentialRiskValue
                                    }" readonly>
                                </div>
                            </div>
                            
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="implemented-actions">
                                        <b data-bind="text: implementedActionsLabel"></b>
                                    </label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="implemented-actions" data-bind="ojComponent: {
                                        component: 'ojInputText',
                                        value: implementedActionsValue
                                    }" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
    
            <!-- Avances y metas -->
            <div class="full-width form-container oj-accordion-collapsible" data-bind="ojComponent: {
                component: 'ojCollapsible',
                expandArea: 'disclosureIcon',
                expanded: true
            }">
                <!-- Encabezado de sección -->
                <h4 id="strategic-vision" data-bind="text: progressGoals"></h4>
    
                <!-- Contenido del colapsable -->
                <div class="oj-collapsible-content">
                    <div id='chart-container'>
                        <div data-bind="ojModule: metas.chart" style="height: 350px"></div>
                    </div>
                </div>
            </div>
    
            <!-- Alineación POA -->
<!--            <div class="full-width form-container oj-accordion-collapsible" data-bind="ojComponent: {
                component: 'ojCollapsible',
                expandArea: 'disclosureIcon',
                expanded: true
            }">-->
                <!-- Encabezado de sección -->
<!--                <h4 id="strategic-vision" data-bind="text: alignmentPOA"></h4>-->
    
                <!-- Contenido del colapsable -->
<!--                <div class="oj-collapsible-content">
                    <fieldset>
                        <div class="oj-flex">
    
                            <div id='sunburst-container' class="oj-flex-item oj-sm-justify-content-center">
                                <div data-bind="ojComponent: {
                                    component: 'ojSunburst', 
                                    animationOnDisplay: 'auto',
                                    animationOnDataChange: 'auto',
                                    animationDuration: '2s',
                                    nodeDefaults: {labelDisplay: 'rotated'},
                                    nodes: alineacion.nodeValues
                                }" style="max-width: 350px; width: 100%; height: 350px; padding-left: 100px;">
                                </div>
                            </div>
    
                            <div id='legend-container' class="oj-flex-item oj-sm-align-self-center">
                                <div data-bind="ojComponent: {
                                    component: 'ojLegend',
                                    orientation: 'vertical',
                                    textStyle: 'font-size:14px;',
                                    sections: alineacion.legendSections
                                    }" style="width: 100%; height: 100%; margin: auto;">
                                </div>
                            </div>
                        </div>
    
                    </fieldset>
                </div>-->
            </div>
        </div>
    </div>
<!-- /ko -->