<div id="pide-indicators-split-container" class="full-width full-height">
    <div class="section-title">
        TABLERO DE INDICADORES
    </div>
    <hr/>
    <div class="full-height oj-flex oj-flex-items-pad">
        <div class="full-height oj-flex-item" 
                data-bind="css: {'oj-sm-3': displayPanel(), 'oj-sm-0': !displayPanel()}">
            <div class="full-height oj-flex oj-flex-items-pad">
                <div id="pide-indicators-selection-panel"
                        class="full-height oj-flex-item oj-sm-11 scrolly"
                        data-bind="style: {display: displayPanel() ? 'inline' : 'none'}">
                    <label for="filterSearch">Selección de Indicadores</label>
                    <input id="inputSearch" placeholder="Buscar..."
                           data-bind="  ojComponent: {
                                    component: 'ojInputSearch',
                                    rootAttributes: {
                                        style:'max-width: 100%'
                                    }
                                }"/>
                    <div id="tree" class="tree-panel"
                         data-bind=" ojComponent: {
                                        component: 'ojTree',
                                        selection: selectedNodes,        
                                        selectionMode: 'single',
                                        data:{data: getJson},
                                        initExpanded: 'all',
                                        icons: false,
                                        optionChange: clickHandler,
                                        loaded: loadHandler,
                                        rootAttributes: {
                                            style: 'width: 100%;'
                                        }
                                    }">
                    </div>
                </div>
                <div id="pide-indicators-spliter"
                        class="full-height oj-sm-justify-content-flex-end oj-flex-item">
                    <div class="oj-flex oj-sm-flex-items-initial full-height">
                        <button class="button-color full-height no-padding oj-button" 
                                data-bind="click: toggleDrawer">
                            <i class="fa" data-bind="css: arrowClass"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="pide-indicators-graphics-panel" class="full-height oj-flex-item"
                data-bind="css:{'oj-sm-11': !displayPanel(), 'oj-sm-9': displayPanel()}">
            <div class="oj-flex oj-sm-justify-content-space-between">
                <i class="fa fa-2x fa-plus oj-flex-item oj-sm-align-self-center pointer"
                   data-bind="click: addGraphicHandler">
                </i>
                <div class="oj-flex-item">
                    <div class="oj-flex">
                        <div class="oj-flex-item">
                            <div class="oj-flex oj-flex-items-pad">
                                <div class="oj-flex-item oj-sm-align-self-center">
                                    <label for="from">Desde</label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="from"
                                           data-bind=" ojComponent: {
                                                                component: 'ojInputDate', 
                                                                datePicker: {
                                                                    footerLayout: '', 
                                                                    showOn: 'focus'
                                                                }
                                                          }"/>
                                </div>
                            </div>
                        </div>
                        <div class="oj-flex-item">
                            <div class="oj-flex oj-flex-items-pad">
                                <div class="oj-flex-item oj-sm-align-self-center">
                                    <label for="to">Hasta</label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="to" class="oj-flex-item" 
                                           data-bind=" ojComponent: {
                                                                component: 'ojInputDate', 
                                                                datePicker: {
                                                                    footerLayout: '', 
                                                                    showOn: 'focus'
                                                                }
                                                          }"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-width full-height oj-flex scrolly">
                <!-- ko foreach: graphics -->
                <div class="oj-flex-item oj-sm-12 oj-lg-12 oj-panel graphic" style="height: 50%; max-height: 95%; min-height: 45%;">
                    <div class="oj-panel-drag-handle" 
                         data-bind="attr: {
                                        
                                        'aria-labelledby': $index
                                    }" 
                         title="Drag to reorder" 
                         aria-label="Drag to reorder" 
                         tabindex="0" 
                         role="separator">
                        <span class="oj-panel-drag-icon"></span>
                    </div>
                    <div data-bind="ojModule: $data" class="full-height"></div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>